<template>
  <div>
    <dashboard-title>Mon compte</dashboard-title>
    <account-form />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import AccountForm from '@/components/dashboard/account/AccountForm.vue'
import { Context } from '@nuxt/types'
@Component({
  layout: 'dashboard',
  components: { AccountForm }
})
export default class AccountSettingsPage extends Vue {
  head() {
    return {
      title: 'Compte | Majentus'
    }
  }
}
</script>
<style lang="scss"></style>
