<template>
  <div class="stripe-settings">
    <gateway-form />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import GatewayForm from '@/components/dashboard/account/GatewayForm.vue'
@Component({
  layout: 'dashboard',
  components: { GatewayForm }
})
export default class GatwaySettingsPage extends Vue {
  head() {
    return {
      title: 'Paramètres de paiements | Majentus'
    }
  }
}
</script>
<style lang="scss"></style>
