<template>
  <div class="address-field">
    <text-field label="Adresse" v-model="address.line1" :rules="rulesData" />
    <text-field label="Ville" v-model="address.city" :rules="rulesData" />
    <text-field label="Canton/Etat" v-model="address.state" :rules="rulesData" />
    <number-field label="Code postal" v-model="address.postal_code" :rules="rulesData" />
    <v-select
      outlined
      label="Pays"
      v-model="address.country"
      :items="countries"
      item-text="label"
      item-value="value"
      :rules="rulesData"
    ></v-select>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import { AddressInterface } from '@shared/interfaces'
import { validators as v } from '@/plugins/Validator'

@Component({})
export default class AddressField extends Vue {
  @Prop({ required: true })
  value!: AddressInterface

  @Prop({ default: false })
  required?: boolean | null

  @Prop()
  rules?: any[]

  rulesData: any[] = []

  address: AddressInterface = this.value

  countries = [
    {
      value: 'CH',
      label: 'Suisse'
    },
    {
      value: 'FR',
      label: 'France'
    }
  ]
  created() {
    if (this.rules && this.rules.length) {
      this.rulesData.push(...this.rules)
    }
    const additionnalRules: any[] = []
    if (this.required !== false) {
      additionnalRules.push(v.required)
    }
    this.rulesData.push(...v.rules([...additionnalRules]))
  }
}
</script>
<style lang="scss"></style>
