<template>
  <div class="avatar-field">
    <client-only>
      <div class="avatar-field__input" :style="{ backgroundImage: 'url(' + avatarUrl + ')' }">
        <v-btn fab dark color="primary" small class="avatar-field__remove" @click="remove">
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
        <div class="avatar-field__input__message">
          Changer
        </div>
        <v-file-input
          accept="image/*"
          :label="label"
          @change="selectFile"
          v-model="fileinputvalue"
          ref="fileupload"
          :loading="loading"
          :hide-input="true"
          outlined
        >
        </v-file-input>
      </div>
      <v-dialog dark width="unset" fullscreen :value="previewDataUrl" @input="handleModalClose">
        <div>
          <v-card class="avatar-field__modal">
            <v-btn fab dark color="primary" small class="avatar-field__modal__close" @click="closeModal">
              <v-icon>mdi-window-close</v-icon>
            </v-btn>
            <v-card-text class="avatar-field__clippers" :class="{ 'avatar-field__clippers--init': clipperInit }">
              <clipper-preview class="avatar-field__preview" name="clipper" />
              <clipper-basic
                v-if="previewDataUrl"
                :style="'transform: scale(' + clipperScale + ') translateY(-50%)'"
                class="avatar-field__clipper"
                preview="clipper"
                ref="clipper"
                :init-width="95"
                :init-height="95"
                :src="previewDataUrl"
                :ratio="clipperRatio"
                :border="2"
                bg-color="#1e1e1e"
                @load="loadClipper"
              ></clipper-basic>
            </v-card-text>
            <v-card-actions class="avatar-field__actions">
              <v-btn color="primary" @click="cropAndUpload" block rounded x-large>Valider</v-btn>
            </v-card-actions>
          </v-card>
        </div>
      </v-dialog>
    </client-only>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import { MediaItemInterface } from '@shared/interfaces'
import clipperBasic from 'vuejs-clipper/src/components/clipper-basic.vue'
import clipperPreview from 'vuejs-clipper/src/components/clipper-preview.vue'
import { dataURLtoFile } from '~/inc/helpers'

@Component({ components: { clipperBasic, clipperPreview } })
export default class AvatarField extends Vue {
  @Prop({ required: true })
  value!: MediaItemInterface | null

  removeDialog: boolean = false
  @Prop({ required: false, default: '' })
  label!: string

  clipperRatio = 1.001
  clipperScale = 1
  clipperInit: boolean = false
  fileinputvalue: any = null
  loading: boolean = false
  currentFile: File | null = null
  progress: number = 0
  $refs!: {
    fileupload: HTMLFormElement
    clipper: any
  }
  async selectFile(file: File) {
    this.progress = 0
    this.currentFile = file
  }

  get previewDataUrl() {
    if (!this.currentFile) return false
    var reader = new FileReader()
    return URL.createObjectURL(this.currentFile)
    // return reader.readAsDataURL(this.currentFile)
  }

  get avatarUrl() {
    if (this.value) {
      return this.value.path
    } else {
      return ''
    }
  }
  get dataUrl() {
    if (this.value) {
      return this.value.path
    }
    return null
  }

  async cropAndUpload() {
    const canvas = this.$refs.clipper.clip()
    // Create resized image
    const resizedCanvas = document.createElement('canvas')
    const resizedContext = resizedCanvas.getContext('2d')
    resizedCanvas.height = 300
    resizedCanvas.width = 300
    resizedContext!.drawImage(canvas, 0, 0, 300, 300)
    const dataUrl = resizedCanvas.toDataURL()
    const file = dataURLtoFile(dataUrl)
    this.currentFile = file
    const media = await this.startUpload()
    this.$emit('input', media)
    this.$emit('change', media)
    this.currentFile = null
  }
  closeModal() {
    this.$refs.fileupload.reset()
    this.currentFile = null
    this.clipperRatio = 1.001
    this.clipperScale = 1
    this.clipperInit = false
  }
  handleModalClose(value: boolean) {
    if (!value) {
      this.closeModal()
    }
  }

  async startUpload() {
    if (this.currentFile) {
      const result = await this.$api.upload.upload(this.currentFile)
      if (result.status === 200) {
        console.log(result.data)
        return result.data
      }
    }
    return null
  }

  async remove() {
    if (!this.value) return
    await this.$api.upload.remove(this.value.id)
    this.unselectFile()
  }
  unselectFile() {
    this.$refs.fileupload.reset()
    this.$emit('input', null)
    this.$emit('change', null)
  }
  loadClipper(data: any) {
    setTimeout(() => {
      if (!this.$refs.clipper) {
        return
      }
      const clipperHeight = this.$refs.clipper.$el.clientHeight
      const targetHeight = window.innerHeight - 200

      this.$nextTick(() => {
        this.clipperRatio = 1
        this.clipperInit = true
        this.$refs.clipper.resetData()
      })

      if (clipperHeight > targetHeight) {
        this.clipperScale = targetHeight / clipperHeight
      }
    }, 400)
  }
}
</script>
<style lang="scss">
.avatar-field {
  &__modal {
    height: 100vh;
    &__close {
      position: absolute;
      right: 8px;
      top: 8px;
    }
  }
  &__clippers {
    opacity: 0;
    transition: opacity 0.3s;
    &--init {
      opacity: 1;
    }
  }
  &__input {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-size: cover;
    position: relative;
    background-color: $mid-grey;
    .v-input button {
      width: 150px !important;
      height: 150px !important;
      display: block !important;
      position: absolute !important;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
    }
    &__message {
      @include pos(absolute, 0, 0, 0, 0);
      display: flex;
      pointer-events: none;
      align-items: center;
      justify-content: center;
      border-radius: 150px;
      background-color: rgba($black, 0.6);
      opacity: 0;
      transition: opacity 0.3s;
      color: $white;
      .avatar-field__input:hover & {
        opacity: 1;
      }
    }
  }
  &__preview {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 150px;
    margin-bottom: 16px;
    position: absolute;
    left: 8px;
    right: 8px;
    box-shadow: $box-shadow;
    z-index: 10;
    .wrap {
      background-color: transparent !important;
    }
  }
  &__clipper {
    position: absolute;
    top: 50%;
    right: 8px;
    left: 8px;
    transform-origin: top center;
    .vuejs-clipper-basic__zoom-area {
      border-radius: 10000px;
      border-color: $primary;
    }

    .v-card__text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__actions {
    position: absolute;
    bottom: 8px;
    left: 50%;
    max-width: 800px;
    width: 100%;
    transform: translateX(-50%);
  }

  &__remove {
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2;
    .avatar-field__input:hover & {
      opacity: 1;
      pointer-events: all;
    }
  }
}
</style>
