<template>
  <fragment>
    <div class="category-field" v-if="display === 'tree'">
      <label class="category-field__label v-label">Catégories</label>
      <v-treeview :items="allCats" dense>
        <template v-slot:prepend="{ item, open }">
          <span class="category-field__dropdown" v-if="item.children.length">
            {{ item.title }}
          </span>
          <v-checkbox
            class="category-field__checkbox"
            v-else
            :label="item.title"
            :value="item.id"
            v-model="selection"
            dense
          ></v-checkbox>
        </template>
      </v-treeview>
    </div>
    <v-autocomplete
      disable-lookup
      v-else
      v-model="selection"
      :items="cats"
      chips
      label="Categories"
      item-text="title"
      item-value="id"
      multiple
      outlined
    >
      <template v-slot:selection="data">
        <v-chip
          v-bind="data.attrs"
          :input-value="data.selected"
          close
          @click="data.select"
          @click:close="remove(data.item)"
        >
          {{ data.item.title }}
        </v-chip>
      </template>
    </v-autocomplete>
  </fragment>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'nuxt-property-decorator'
import MultiSelectField from './MultiSelectField.vue'
import { Option } from './types'
@Component({ components: { MultiSelectField } })
export default class CategorieField extends Vue {
  @Prop()
  value?: number[]

  @Prop({ default: 'autocomplete' })
  display!: 'autocomplete' | 'tree'

  selection: number[] = this.value ? this.value : []
  categories: Option[] = [
    { label: 'Category 1', value: 1 },
    { label: 'Category 2', value: 2 }
  ]
  allCats: any[] = []
  created() {
    this.fetchCategories()
  }
  @Watch('selection')
  update() {
    this.$emit('input', this.selection)
  }

  async fetchCategories() {
    this.allCats = await this.$api.category.getAll()
    this.allCats.forEach((cat) => {
      this.cats.push({ divider: true })
      this.cats.push({ header: cat.title })
      this.pushChildren(cat)
    })
  }
  pushChildren(cat: any) {
    cat.children.forEach((child: any) => {
      this.cats.push(child)
      this.pushChildren(child)
    })
  }
  remove(item: any) {
    const index = this.selection.indexOf(item.id)
    if (index >= 0) this.selection.splice(index, 1)
  }
  cats: any = []
}
</script>
<style lang="scss">
.category-field {
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.42);
  border-radius: $radius;
  padding: 20px 0;
  position: relative;
  .v-input .v-label {
    font-size: 14px;
  }
  .v-treeview-node__prepend {
    width: 100%;
  }
  .v-input__slot,
  .v-input--selection-controls {
    margin: 0;
    padding: 0;
  }
  .v-messages {
    display: none;
  }
  .v-treeview-node__root {
    min-height: 30px;
  }
  .v-input--checkbox {
    margin-left: -20px;
  }
  &__label {
    position: absolute;
    top: 0;
    transform: translateY(-50%) scale(0.75);
    background: white;
    padding: 0 10px;
    display: block;
  }
}
</style>
