<template>
  <div class="mj-field" :class="'mj-field--' + layout">
    <label class="mj-field__label" v-if="label && label !== ''">{{
      label
    }}</label>
    <div class="mj-field__field">
      <slot />
    </div>
  </div>
</template>
<script lang="ts">
import { CustomFieldProps } from './FieldBase'
import { Component, Vue, Prop } from 'nuxt-property-decorator'
@Component({})
export default class CustomField extends CustomFieldProps {}
</script>
<style lang="scss">
.mj-field {
  &--inline {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    .mj-field {
      &__label {
        width: 100px;
        text-align: right;
        padding-right: 20px;
      }
      &__field {
        padding-left: 20px;
        flex-grow: 1;
        display: flex;
      }
    }
  }
}
</style>
