<template>
  <v-dialog ref="dialog" v-model="modal" :return-value.sync="date" persistent width="290px">
    <template v-slot:activator="{ on, attrs }">
      <v-text-field :value="formatedDate" :label="label" readonly v-bind="attrs" v-on="on" :disabled="disabled" outlined></v-text-field>
    </template>
    <v-date-picker class="mj-datetime" v-model="date" scrollable>
      <div class="mj-datetime__time">
        <v-autocomplete :items="hours" v-model="hour" label="Heure" />
        <v-autocomplete :items="minutes" v-model="minute" label="Minute" />
      </div>
      <div class="mj-datetime__footer">
        <v-spacer></v-spacer>
        <v-btn text color="primary" @click="cancel">Cancel</v-btn>
        <v-btn text color="primary" @click="$refs.dialog.save(date)">OK</v-btn>
      </div>
    </v-date-picker>
  </v-dialog>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'nuxt-property-decorator'
import { Option } from './types'
import moment from 'moment'
@Component({})
export default class DateTimeField extends Vue {
  @Prop()
  value!: string
  @Prop({ default: false })
  disabled!: boolean

  @Prop({ default: null })
  label!: string

  hours: string[] = []
  minutes: string[] = []

  modal: boolean = false

  hour: string = '00'
  minute: string = '00'

  previousHour: string = '00'
  previousMinute: string = '00'

  get formatedDate() {
    return this.$moment(this.datetime).format('DD-MM-YYYY HH:mm')
  }
  get datetime() {
    return new Date(this.date + ' ' + this.hour + ':' + this.minute)
  }
  get momentValue() {
    return this.$moment(this.datetime)
  }

  created() {
    this.generateTimeOptions()
    this.dateSetter()
  }

  date: string = ''
  @Watch('value')
  dateSetter() {
    const $momentValue = this.$moment(this.value)
    this.date = $momentValue.toISOString().substr(0, 10)
    this.hour = $momentValue.format('HH')
    this.minute = $momentValue.format('mm')
  }
  @Watch('modal')
  setPreviousValue() {
    if (this.modal === true) {
      this.previousHour = this.hour
      this.previousMinute = this.minute
    }
  }
  @Watch('datetime')
  dateWatcher() {
    this.$emit('input', this.momentValue.toISOString())
  }

  cancel() {
    this.hour = this.previousHour
    this.minute = this.previousMinute
    this.modal = false
  }

  generateTimeOptions() {
    let times = -1
    while (times++ < 24) {
      this.hours.push(this.pad(times, 2))
    }
    times = -1
    while (times++ < 60) {
      this.minutes.push(this.pad(times, 2))
    }
  }
  pad(num: number, width: number): string {
    const n = num + ''
    return n.length >= width ? n : new Array(width - n.length + 1).join('0') + n
  }
}
</script>
<style lang="scss">
.mj-datetime {
  &__time {
    background: white;
    width: 100%;
    display: flex;
  }
  &__footer {
    display: flex;
    width: 100%;
  }
  .v-picker__actions {
    flex-wrap: wrap;
  }
}
</style>
