<template>
  <div>
    <v-select
      :items="status"
      v-model="selected"
      item-text="label"
      item-value="value"
      label="Status des inscriptions"
      outlined
      class="select-status"
    >
      <template v-slot:item="{ item }">
        <status-label :item="item.value"></status-label>
      </template>
      <template v-slot:selection="{ item }">
        <status-label :item="item.value"></status-label>
      </template>
    </v-select>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'nuxt-property-decorator'
import { EventDateInterface } from '@shared/interfaces'
import { EventStatus } from '../../../../shared/interfaces'
import StatusLabel from '@/components/core/StatusLabel.vue'
import { StatusInterface, statusList } from '@/components/core/StatusLabelData'

@Component({ components: { StatusLabel } })
export default class SelectBlocks extends Vue {
  @Prop({ required: true })
  value!: EventStatus

  status: StatusInterface[] = statusList

  @Prop({ default: () => false })
  isDisabled!: (item: any) => boolean

  selected: EventStatus | null = EventStatus.Pending

  created() {
    if (!this.value) {
      this.watchSelected()
    }
  }
  @Watch('selected')
  watchSelected() {
    this.$emit('change', this.selected)
    this.$emit('input', this.selected)
  }
  @Watch('value')
  watchValue() {
    this.selected = this.value
  }
  change(index: number) {
    this.$emit('input', index)
  }
}
</script>
<style lang="scss">
.select-status {
  &__option {
    display: inline-flex;
    align-items: center;
  }
  &__dot {
    background: $mid-grey;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
  }
}
</style>
