<template>
  <div class="image-field">
    <div v-if="dataUrl" class="image-field__preview">
      <v-card :elevation="3" class="image-field__card">
        <img :src="dataUrl" />
      </v-card>
      <v-btn
        fab
        dark
        color="primary"
        small
        class="image-field__preview__close"
        @click="removeDialog = true"
      >
        <v-icon>mdi-window-close</v-icon>
      </v-btn>
    </div>
    <v-file-input
      v-show="!dataUrl"
      accept="image/*"
      :label="label"
      @change="selectFile"
      ref="fileupload"
      :loading="loading"
      outlined
    >
    </v-file-input>

    <v-dialog v-model="removeDialog" max-width="290">
      <v-card>
        <v-card-title class="headline">
          Êtes-vous sure de vouloir supprimer cette image ?
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            :color="$mj.color('grey darken-1')"
            text
            @click="removeDialog = false"
          >
            Annuler
          </v-btn>
          <v-btn :color="$mj.color('red darken-1')" text @click="remove">
            Supprimer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import { MediaItemInterface } from '@shared/interfaces'
@Component({})
export default class ImageField extends Vue {
  @Prop({ required: true })
  value!: MediaItemInterface | null

  removeDialog: boolean = false
  @Prop({ required: false, default: '' })
  label!: string

  loading: boolean = false
  currentFile: File | null = null
  progress: number = 0
  $refs!: {
    fileupload: HTMLFormElement
  }
  async selectFile(file: File) {
    this.progress = 0
    this.currentFile = file
    if (this.currentFile) {
      this.loading = true
      const media = await this.upload()
      this.loading = false
      this.$emit('input', media)
      this.$emit('change', media)
    } else {
      this.$emit('change', null)
      this.$emit('input', null)
    }
  }
  async upload() {
    if (this.currentFile) {
      const result = await this.$api.upload.upload(this.currentFile)
      if (result.status === 200) {
        return result.data
      }
    }
    return null
  }
  async remove() {
    if (!this.value) return
    await this.$api.upload.remove(this.value.id)
    this.unselectFile()
    this.removeDialog = false
  }
  unselectFile() {
    this.$refs.fileupload.reset()
    this.$emit('input', null)
    this.$emit('change', null)
  }
  get dataUrl() {
    if (this.value) {
      return this.value.path
    }
    return null
  }
}
</script>
<style lang="scss">
.image-field {
  &__card {
    overflow: hidden;
  }
  &__preview {
    max-width: 200px;
    position: relative;
    img {
      max-width: 100%;
      max-height: 100%;
      height: inherit !important;
      display: block;
    }
    &__close {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
    }
  }
}
</style>
