<template>
  <custom-field>
    <div class="multiselect">
      <div v-for="(option, index) in options">
        <label
          ><input
            type="checkbox"
            :checked="value.includes(option.value)"
            ref="checkbox"
            @change="check"
          />
          {{ option.label }}</label
        >
      </div>
    </div>
  </custom-field>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import { Option } from './types'
import CustomField from './CustomField.vue'
import FieldBase from './FieldBase'
@Component({ components: { CustomField } })
export default class MultiSelectField extends FieldBase {
  @Prop()
  options!: Option[]

  $refs!: {
    checkbox: any
  }

  check() {
    const selection: any = []
    this.options.forEach((option, idx) => {
      if (this.$refs.checkbox[idx].checked) {
        selection.push(option.value)
      }
    })
    this.$emit('input', selection)
  }
}
</script>
<style lang="scss">
</style>
