<template>
  <v-text-field
    ref="input"
    type="number"
    :placeholder="placeholder"
    :label="label"
    :min="min"
    :max="max"
    :suffix="suffix"
    :prefix="prefix"
    v-model="valueData"
    @input="update"
    :rules="rules"
    outlined
  />
</template>
<script lang="ts">
import { Component, Vue, Prop, Inject, Watch } from 'nuxt-property-decorator'
import FieldBase from './FieldBase'

@Component({ components: {} })
export default class NumberField extends FieldBase {
  $refs!: {
    input: HTMLFormElement
  }
  valueData: string | null = this.value ? this.value : null
  @Prop()
  required?: boolean
  @Prop({ default: () => [] })
  rules?: any
  @Prop()
  max?: number | string
  @Prop()
  suffix?: string
  @Prop()
  prefix?: string
  @Prop()
  min?: number | string

  @Watch('value')
  updateFromProps() {
    this.valueData = this.value ? this.value.toString() : '0'
  }
  update() {
    this.$emit('input', Number(this.valueData))
  }
}
</script>

<style lang="scss">
.mj-textfield {
  outline: none;
  &--inline {
    border: none;
  }
}
</style>
