<template>
  <div class="custom-number-input">
    <v-text-field
      :dark="dark"
      v-model="qty"
      type="number"
      :label="label"
      append-outer-icon="mdi-plus-circle-outline"
      @click:append-outer="increment"
      prepend-icon="mdi-minus-circle-outline"
      @click:prepend="decrement"
      outlined
      :rules="rules"
      :disabled="disabled"
    ></v-text-field>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'nuxt-property-decorator'
@Component({})
export default class QuantityField extends Vue {
  @Prop()
  value!: number

  @Prop({ default: false })
  dark!: boolean

  @Prop({ default: '' })
  label?: string

  @Prop({ default: 0 })
  min?: number

  @Prop({ default: 10 })
  max?: number

  @Prop({ default: () => [] })
  rules?: any

  @Prop({ default: false })
  disabled?: boolean | null

  qty = this.value ? this.value : 0
  mounted() {
    if (typeof this.value === 'undefined') {
      this.$emit('input', 0)
    }
  }
  @Watch('qty')
  watchQty() {
    this.$emit('change', this.qty)
    this.$emit('input', this.qty)
  }
  @Watch('value')
  watchValue() {
    this.qty = this.value
  }
  decrement() {
    if (this.qty === this.min) {
      return
    }
    this.qty--
    this.$emit('input', this.qty)
  }
  increment() {
    if (this.qty === this.max) {
      return
    }
    this.qty++
    this.$emit('input', this.qty)
  }
}
</script>
<style lang="scss">
.custom-number-input {
  display: flex;
  align-items: center;
  &__number {
    min-width: 2em;
    text-align: center;
  }
}
</style>
