<template>
  <div class="select-blocks">
    <v-item-group :value="value" class="select-blocks__itemgroup">
      <v-container>
        <v-row>
          <v-col v-for="(item, index) in items" :key="index" cols="12" md="3" class="select-blocks__item">
            <v-item v-slot:default="{ active, toggle }">
              <v-card
                :color="active ? 'primary' : ''"
                class="d-flex align-center"
                dark
                height="200"
                @click="change(index)"
              >
                <v-scroll-y-transition>
                  <div class="flex-grow-1 text-center">
                    <slot name="block" :item="item" :disabled="isDisabled(item)" />
                  </div>
                </v-scroll-y-transition>
              </v-card>
            </v-item>
          </v-col>
        </v-row>
      </v-container>
    </v-item-group>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import { EventDateInterface } from '@shared/interfaces'

@Component({})
export default class SelectBlocks extends Vue {
  @Prop({ required: true })
  value!: number

  @Prop({ required: true })
  items!: Array<any>

  activeItem: number = this.value

  @Prop({ default: () => false })
  isDisabled!: (item: any) => boolean

  change(index: number) {
    if (!this.isDisabled(this.items[index])) {
      this.$emit('input', index)
    }
  }
}
</script>
<style lang="scss">
.select-blocks {
  &__itemgroup {
    font-size: 1em;
  }
  &__item {
    &--disabled {
      &,
      * {
        cursor: not-allowed;
      }
      opacity: 0.4;
    }
  }
}
</style>
