<template>
  <v-text-field
    :label="label"
    v-model="dataModel"
    :rules="rulesData"
    validate-on-blur
    @input="update"
    :error-messages="errorMessages"
    :loading="loading"
    :hint="hint"
    :persistent-hint="persistentHint"
    outlined
  />
</template>
<script lang="ts">
import { Component, Vue, Prop, Inject, Watch } from 'nuxt-property-decorator'
import FieldBase from './FieldBase'
import { validators as v } from '@/plugins/Validator'

type TextFieldTypes = 'email' | 'text'
@Component({})
export default class TextField extends Vue {
  $refs!: {
    input: HTMLFormElement
  }

  @Prop({ default: '' })
  placeholder?: string

  @Prop({ default: '' })
  value!: string

  @Prop({ default: '' })
  label!: string

  @Prop({ default: 'text' })
  type!: TextFieldTypes

  @Prop({ default: false })
  required?: boolean | null

  @Prop({ default: false })
  loading!: boolean

  @Prop({ default: '' })
  errorMessages!: string

  @Prop({ default: '' })
  hint?: string

  @Prop({ default: false })
  persistentHint?: boolean | null

  dataModel: any = this.value

  @Watch('value')
  updateDataModel() {
    this.dataModel = this.value
  }
  @Prop()
  rules?: any[]

  rulesData: any[] = []
  created() {
    if (this.rules && this.rules.length) {
      this.rulesData.push(...this.rules)
    }

    const additionnalRules: any[] = []
    if (this.required !== false) {
      additionnalRules.push(v.required)
    }
    if (this.type === 'email') {
      additionnalRules.push(v.email)
    }

    this.rulesData.push(...v.rules([...additionnalRules]))
  }
  update() {
    this.$emit('input', this.dataModel)
  }
}
</script>

<style lang="scss">
.mj-textfield {
  outline: none;
  &--inline {
    border: none;
  }
}
</style>
