<template>
  <footer class="footer">
    <v-container dark>
      <v-row justify="center">
        <v-col cols="12" sm="8" md="4" dark>
          <typography size="h4" class="footer__title" underline>A propos</typography>
          <typography markup="p" size="caption">
            Majentus est une plateforme pour gérer et promouvoir vos événement.
          </typography>
          <v-switch v-model="$vuetify.theme.dark"></v-switch>
        </v-col>
        <v-col cols="12" sm="8" md="4">
          <typography size="h4" class="footer__title" underline>Liens</typography>
          <nav class="footer__nav">
            <ul>
              <li>
                <nuxt-link :to="{ name: 'termsAndConditions' }">conditions générales</nuxt-link>
              </li>
              <li>
                <nuxt-link :to="{ name: 'about' }">A propos</nuxt-link>
              </li>
              <li>
                <nuxt-link :to="{ name: 'pricing' }">Tarifs</nuxt-link>
              </li>
              <li>
                <nuxt-link :to="{ name: 'contact' }">Contact</nuxt-link>
              </li>
            </ul>
          </nav>
        </v-col>
        <v-col cols="12" sm="8" md="4">
          <typography size="h4" class="footer__title" underline>Paiements</typography>
          <div class="footer__payments">
            <div class="footer__payments__item">
              <img src="~/assets/svg/logos/stripe.svg" />
            </div>
            <div class="footer__payments__item">
              <img class="datatrans-logo" src="~/assets/svg/logos/datatrans.svg" />
            </div>
          </div>
        </v-col>
        <v-col cols="12" sm="8" md="4"> </v-col>
      </v-row>
    </v-container>
  </footer>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
@Component({})
export default class MjFooter extends Vue {}
</script>
<style lang="scss">
.footer {
  @include styled-background();
  color: $white;
  margin-top: 32px;
  &__title {
    margin-bottom: 0.5em;
  }
  &__payments {
    display: flex;
    &__item {
      padding: 8px;
    }
    img {
      display: block;
      height: 30px;
      &.datatrans-logo {
        height: 25px;
      }
    }
  }
  &__nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    a {
      color: $white;
      text-decoration: none;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
</style>
