<template>
  <div class="header" :class="{ 'header--scrolled': isScolled && !headerStore.isOpen }">
    <v-container>
      <v-sheet :dark="headerStore.isOpen && $vuetify.breakpoint.smAndDown">
        <div class="header__wrap">
          <div class="header__logo header__item">
            <nuxt-link @click.native="closeMenu" :to="{ name: 'home' }">
              <mj-logo />
            </nuxt-link>
          </div>
          <div class="header__nav header__item">
            <mj-navbar v-if="!isMobile" />
            <portal to="app-start">
              <mj-navbar v-if="$vuetify.breakpoint.smAndDown" />
            </portal>
          </div>
          <div class="header__usernav header__item">
            <button class="header__burger" :class="{ 'header__burger--open': headerStore.isOpen }" @click="toggleMenu">
              <span></span>
            </button>
            <mj-nav-user />
          </div>
        </div>
      </v-sheet>
    </v-container>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import MjNavbar from '@/components/design/MjNavbar.vue'
import MjLogo from '@/components/design/MjLogo.vue'
import MjNavUser from '@/components/design/MjNavUser.vue'
import { getModule } from 'vuex-module-decorators'
import HeaderStore from '@/store/header'
@Component({ components: { MjLogo, MjNavUser, MjNavbar } })
export default class MjHeader extends Vue {
  headerStore = getModule(HeaderStore, this.$store)
  isScolled: boolean = false
  isMounted = false
  get isMobile() {
    return this.isMounted ? this.$vuetify.breakpoint.smAndDown : false
  }

  mounted() {
    this.isMounted = true
    window.addEventListener('scroll', this.handleScroll)
  }
  destroyed() {
    console.log('destroy')
    window.removeEventListener('scroll', this.handleScroll)
  }
  handleScroll() {
    this.isScolled = window.scrollY > 10
  }
  toggleMenu() {
    this.headerStore.toggle()
  }
  closeMenu() {
    this.headerStore.close()
  }
}
</script>
<style lang="scss">
$header-height: 75px;
.layout-default .v-application--wrap {
  padding-top: $header-height;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 30;
  height: $header-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  transition: all 0.3s;
  .v-sheet {
    background: transparent;
  }
  //border-radius: 0 0 10px 10px;
  &--scrolled {
    box-shadow: $box-shadow;
    background-color: $white;
    .theme--dark & {
      background-color: #121212;
    }
  }
  &__wrap {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  &__item {
    flex: 1;
    display: flex;
    justify-content: center;
    &:first-child {
      justify-content: flex-start;
      width: 100%;
    }
    &:last-child {
      margin-right: auto;
      justify-content: flex-end;
      width: 100%;
    }
  }
  &__nav {
    white-space: nowrap;
  }
  &__logo {
    a {
      .v-application & {
        color: $black;
      }
      .theme--dark & {
        color: $white;
      }
      text-decoration: none;
    }
  }
  &__burger {
    display: none;
    @include breakpoint(sm-max) {
      display: block;
      margin-left: 24px;
      margin-right: 4px;
      background: none;
      border: none;
      padding: 0;
      outline: none;
      position: relative;
      span {
        @include burger();
        .theme--dark & {
          &,
          &::before,
          &::after {
            background-color: #fff;
          }
        }
      }
      &--open span {
        @include burger-to-cross();
        .theme--dark & {
          background-color: transparent;
          &::before,
          &::after {
            background-color: #fff;
          }
        }
      }
    }
  }
}
</style>
