<template>
  <span class="logo">
    <span class="logo__firstletter">m</span><span class="logo__letters">ajentus</span><span class="logo__dot">.</span>
  </span>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
@Component({})
export default class MjLogo extends Vue {}
</script>
<style lang="scss">
.logo {
  font-weight: 500;
  font-size: 32px;
  &__dot {
    background: $primary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__letters {
    @include breakpoint(xs-max) {
      // display: none;
    }
  }
}
</style>
