<template>
  <div class="nav-user" :class="{ 'nav-user--open': headerStore.isOpen }">
    <v-btn
      class="nav-user__login"
      :large="isMobile"
      v-if="!$auth.loggedIn"
      :text="!isMobile"
      :color="isMobile ? 'white' : ''"
      rounded
      :outlined="isMobile"
      to="/login"
      nuxt
    >
      Connexion
    </v-btn>
    <v-btn @click.native="linkClick" v-if="!$auth.loggedIn" :large="isMobile" color="primary" depressed rounded to="/register" nuxt>
      Inscription
    </v-btn>
    <v-btn v-if="$auth.loggedIn" :large="isMobile" to="/dashboard" depressed rounded color="primary">
      <v-icon left small>mdi-view-dashboard</v-icon>
      Dashboard
    </v-btn>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { getModule } from 'vuex-module-decorators'
import HeaderStore from '@/store/header'
@Component({})
export default class MjNavbar extends Vue {
  headerStore = getModule(HeaderStore, this.$store)
  isMounted = false
  get isMobile() {
    return this.isMounted ? this.$vuetify.breakpoint.smAndDown : false
  }
  mounted() {
    this.isMounted = true
  }
  linkClick() {
    this.headerStore.close()
  }
}
</script>
<style lang="scss">
.nav-user {
  flex-shrink: 0;
  display: flex;
  @include breakpoint(sm-max) {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    justify-content: center;
    padding: 24px;
    transform: translateY(100%);
    transition: all 0.3s;
    transition-delay: 0s;
    .v-btn + .v-btn {
      margin-left: 16px;
    }
    &--open {
      transition-delay: 0.3s;
      transform: translateY(0);
    }
  }
}
</style>
