<template>
  <div class="navbar" :class="{ active: headerStore.isOpen }">
    <nuxt-link @click.native="linkClick" :to="{ name: 'about' }">a propos</nuxt-link>
    <nuxt-link @click.native="linkClick" to="/events">événements</nuxt-link>
    <nuxt-link @click.native="linkClick" :to="{ name: 'pricing' }">tarifs</nuxt-link>
    <nuxt-link @click.native="linkClick" :to="{ name: 'contact' }">contact</nuxt-link>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { getModule } from 'vuex-module-decorators'
import HeaderStore from '@/store/header'

@Component({})
export default class MjNavbar extends Vue {
  headerStore = getModule(HeaderStore, this.$store)
  mounted() {}
  linkClick() {
    this.headerStore.close()
  }
}
</script>
<style lang="scss">
.navbar {
  a {
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.03em;
    .v-application & {
      color: $dark-grey;
    }
    .v-application.theme--dark & {
      color: $white;
    }
    .v-application &.router-link-active {
      color: $primary;
    }
  }

  @include breakpoint(md-min) {
    a + a {
      margin-left: 20px;
    }
  }
  @include breakpoint(sm-max) {
    @include pos(fixed, 0, 0, 0, 0);
    z-index: 20;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @include styled-background();
    transform: translateY(-100%);
    transition: transform 0.3s;
    &.active {
      transform: translateY(0%);
    }
    a {
      .v-application & {
        color: $white;
      }
      font-size: 55px;
      @include breakpoint(xs-max) {
        font-size: 10vw;
      }
    }
  }
}
</style>
