<template>
  <div class="section-pos">
    <section-screenshow
      :image="require('@/assets/svg/laptop-printer.svg')"
      title="<strong>Vendez en ligne</strong> ou sur place"
      blob="3"
    >
      Sur votre site internet ou sur majentus.ch donnez la possibilitée à vos participants d'acheter des billets et les
      recevoirs instantanément. Vous souhaitez également vendre des places le jour J, la webapp vous permettera de
      générer et imprimer des billets rapidement.
    </section-screenshow>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import SectionScreenshow from '@/components/sections/SectionScreenshow.vue'

@Component({ components: { SectionScreenshow } })
export default class SectionPos extends Vue {}
</script>
<style lang="scss"></style>
