<template>
  <div class="for-who">
    <section-screenshow
      :image="require('@/assets/images/webapp.png')"
      title="A qui s'adresse <strong>majentus ?</strong>"
      blob="2"
    >
      Majentus s'adresse à tout organisateur d'événement n'ayant pas de structure pour vendre ses places en ligne. Créez
      votre billetterie personnalisée en un instant et vendez en ligne ou en point de vente des billets sécurisé par un
      QR code.
    </section-screenshow>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import SectionScreenshow from '@/components/sections/SectionScreenshow.vue'
@Component({ components: { SectionScreenshow } })
export default class SectionForWho extends Vue {}
</script>
<style lang="scss">
.for-who {
  .screenshow {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
</style>
