<template>
  <v-container class="screenshow" :class="{ 'screenshow--reverse': reverse !== false }">
    <v-row class="screenshow__row" align="center">
      <v-col cols="12" md="6" class="text-center">
        <typography class="screenshow__title" :center="true" size="h1" v-html="title"></typography>
        <slot />
      </v-col>
      <v-col cols="12" md="6">
        <div class="screenshow__image screenshow__image--widget">
          <div
            v-if="blob == '1'"
            class="screenshow__image__blob"
            :style="{ backgroundImage: 'url(' + require('@/assets/svg/blob01.svg') + ')' }"
          />
          <div
            v-else-if="blob == '3'"
            class="screenshow__image__blob"
            :style="{ backgroundImage: 'url(' + require('@/assets/svg/blob03.svg') + ')' }"
          />
          <div
            v-else
            class="screenshow__image__blob"
            :style="{ backgroundImage: 'url(' + require('@/assets/svg/blob02.svg') + ')' }"
          />
          <img
            class="screenshow__image__screen"
            :class="{ 'screenshow__image__screen--shadow': shadow !== false }"
            :src="image"
          />
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
@Component({})
export default class SectionScreenshow extends Vue {
  @Prop({ required: true }) title!: string
  @Prop({ default: '' }) subtitle!: string
  @Prop({ required: true }) image!: string
  @Prop({ default: '1' }) blob!: string
  @Prop({ default: false }) reverse!: string | null | boolean
  @Prop({ default: false }) shadow!: string | null | boolean
}
</script>
<style lang="scss">
.screenshow {
  margin-top: 80px;
  margin-bottom: 80px;
  &__row {
    .screenshow--reverse & {
      @include breakpoint(md-min) {
        flex-direction: row-reverse;
      }
    }
  }
  &__title {
    margin-bottom: 16px;
    strong {
      font-weight: 600;
      color: $primary;
    }
  }
  &__image {
    position: relative;
    padding: 60px;
    &__blob {
      @include pos(absolute, 0, 0, 0, 0);
      background-size: contain;
      background-position: center;
    }
    &__screen {
      position: relative;
      width: 100%;
      height: auto;
      display: block;
      &--shadow {
        border-radius: $box-radius;
        box-shadow: $box-shadow;
      }
    }
  }
}
</style>
