<template>
  <div class="ask-demo">
    <v-container>
      <dashboard-title :center="true">Demander une demonstration</dashboard-title>
      <v-row justify="center">
        <v-col cols="12" md="8" lg="6" class="text-center">
          Vous n'êtes pas sure que majentus correspond à vos attentes ? Contactez nous dès aujourd'hui pour recevoir
          gratuitement une démonstration de notre solution. Vous pouvez églament essayer la solution gratuitement en
          vous créant un compte.
          <div class="ask-demo__actions">
            <v-btn outlined :to="{ name: 'contact' }" color="primary">Contactez nous</v-btn>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
@Component({})
export default class SectionAskDemo extends Vue {}
</script>
<style lang="scss">
.ask-demo {
  margin-bottom: 58px;
  &__actions {
    margin-top: 24px;
  }
}
</style>
