<template>
  <div class="section-integration">
    <section-screenshow
      title="<strong>Intégration</strong> à votre site web"
      :image="require('@/assets/images/widget.png')"
      shadow
    >
      Intégrez en quelques cliques votre billetterie à votre site web. Exporter le code d'intégration de votre widget
      depuis votre « dashboard ». Cela ne demandera que quelques instants à votre webmaster pour l'intégrer à votre site
      internet. Personnalisez les couleurs de votre billetterie à l'image de votre site internet.
    </section-screenshow>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import SectionScreenshow from '@/components/sections/SectionScreenshow.vue'

@Component({ components: { SectionScreenshow } })
export default class SectionIntegration extends Vue {}
</script>
<style lang="scss"></style>
