<template>
  <mj-section>
    <div class="section-pricing">
        <v-row >
          <v-col cols="12" md="6" class="section-pricing__card">
            <dashboard-title :center="$vuetify.breakpoint.smAndDown">Tarifs fixe</dashboard-title>
            <p>
              Nous ne prenons aucune commission sur les paiements et ceux-ci
              sont transférés automatiquement sur votre compte. Reliez votre
              compte vendeur Majentus à votre compte stripe depuis votre
              dashboard.
              </p>
              <p>
              Frais de traitement de carte de crédit Stripe: <br>
              2,9% + 0,30 CHF / transaction réussie
              </p>
              <p>
              Frais annuel: <br>
              45 CHF
              </p>
            </p>
            <v-btn rounded color="primary" :to="{name: 'register'}">Essayer gratuitement</v-btn>
            <div>
              <typography size="caption" color="subtle"
                >Démarrez en moins de 30 secondes</typography
              >
            </div>
          </v-col>
        </v-row>
    </div>
  </mj-section>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import MjSection from '@/components/core/MjSection.vue'
@Component({ components: { MjSection } })
export default class SectionPricing extends Vue {}
</script>
<style lang="scss">
.section-pricing {
  display: flex;
  &__left {
    width: 50%;
  }
  &__card {
    color: white;
    @include breakpoint(sm-max) {
      text-align: center;
    }
  }
}
</style>
