<template>
  <v-container>
    <div class="section-features">
      <dashboard-title center>
        Fonctionnalités
      </dashboard-title>
      <v-row class="section-features__items">
        <v-col
          cols="12"
          sm="6"
          md="4"
          class="section-features__item"
          v-for="(feature, idx) in features"
          :key="'feature-' + idx"
        >
          <feature-card :feature="feature" />
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import FeatureCard from '@/components/core/card/FeatureCard.vue'
@Component({ components: { FeatureCard } })
export default class SectionFeatures extends Vue {
  features: FeatureCardProp[] = [
    {
      icon: 'calendar',
      title: 'Événements illimités',
      desc:
        "Créez des événements et des pages d'événements illimités. La configuration est simple et prend quelques minutes."
    },
    {
      icon: 'ticket-confirmation-outline',
      title: 'Génération de billets',
      desc:
        'Les billets vendus sont envoyé par email à vos client au format pdf avec un QR code pour garantir leur authenticité.'
    },
    {
      icon: 'qrcode-scan',
      title: 'Scanner',
      desc:
        "Utilisez la webapp pour scannez et vérifier l'authenticité des billets de vos visiteur à l'entrée de votre événement."
    },
    {
      icon: 'chart-bar',
      title: 'Statistiques',
      desc: "Consultez des statistiques détaillé en temps réel pour suivre l'évolution de vos ventes."
    },
    {
      icon: 'credit-card-outline',
      title: 'Paiements',
      desc:
        'Recevez les paiement directement sur votre compte en configurants vos clefs api Stripe depuis votre dashboard.'
    },
    {
      icon: 'lock-outline',
      title: 'Sûr et sécurisé',
      desc: 'Nous sommes conformes PCI et SSL activé, pour assurer la sécurité de vos données à tout moment.'
    }
  ]
}
</script>
<style lang="scss">
.section-features {
  padding: 40px 0 80px;
  &__items {
    text-align: center;
    margin-top: 24px;
  }
  &__item {
    display: flex;
  }
}
</style>
