<template>
  <div class="section-statistique">
    <section-screenshow
      :image="require('@/assets/images/stats.png')"
      title="<strong>Statistique</strong> en temps réels"
      reverse
      shadow
      blob="1"
    >
      Suivez-vos ventes et inscriptions en temps réel depuis votre dashboard.
    </section-screenshow>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import SectionScreenshow from '@/components/sections/SectionScreenshow.vue'

@Component({ components: { SectionScreenshow } })
export default class SectionPos extends Vue {}
</script>
<style lang="scss"></style>
