<template>
  <div class="section-scanner">
    <section-screenshow
      blob="1"
      title="<strong>Scanner</strong> de billet"
      :image="require('@/assets/images/scanner.png')"
      reverse
    >
      Transformez votre smartphone en terminal de contrôle grâce à la web application majentus. Une fois la webapp
      connectée à votre compte activez la syncronisation pour stocker les données localement sur chaque appareil. Même
      en cas de coupure de réseau vous pourrez scanner les billets de vos participants.
    </section-screenshow>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import SectionScreenshow from '@/components/sections/SectionScreenshow.vue'

@Component({ components: { SectionScreenshow } })
export default class SectionIntegration extends Vue {}
</script>
<style lang="scss">
.section-scanner {
  .screenshow__image {
    padding: 0;
  }
  .screenshow__image__screen {
    box-shadow: none;
    width: 60%;
    margin: auto;
  }
}
</style>
