<template>
  <div class="how-it-work">
    <mj-section>
      <dashboard-title :center="true">Comment ça marche ?</dashboard-title>
      <div class="how-it-work__line"></div>
      <v-row class="text-center">
        <v-col cols="6" md="3">
          <v-icon>mdi-account</v-icon>
          <typography markup="h4">Inscrivez-vous</typography>
          Créer votre compte en quelques cliques et accédez à votre dashboard
        </v-col>
        <v-col cols="6" md="3">
          <v-icon>mdi-calendar</v-icon>
          <typography markup="h4">Créer un événement</typography>
          Depuis votre dashboard ajoutez et personnalisez votre événement.
        </v-col>
        <v-col cols="6" md="3">
          <v-icon>mdi-cash-multiple</v-icon>
          <typography markup="h4">Date et tarifs</typography>
          Définissez les dates et les tarifs de votre événement
        </v-col>
        <v-col cols="6" md="3">
          <v-icon>mdi-ticket-confirmation-outline</v-icon>
          <typography markup="h4">Vendez des billets</typography>
          En ligne ou sur un point de vente, vendez et générez des billets sécurisés prêts à être imprimés.
        </v-col>
      </v-row>
    </mj-section>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import MjSection from '@/components/core/MjSection.vue'
@Component({ components: { MjSection } })
export default class SectionHowItWork extends Vue {}
</script>
<style lang="scss">
.how-it-work {
  .v-icon {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    margin-bottom: 16px;
    background: white;
    color: $primary;
  }
  &__line {
    width: 75%;
    margin-left: 12.5%;
    position: relative;
    top: 36px;
    height: 1px;
    opacity: 0.2;
    background: white;
    @include breakpoint(sm-max) {
      display: none;
    }
  }
}
</style>
