.main-background {
  background-color: $light-background;
  .theme--dark & {
    background-color: $dark-background;
  }
}
.fill-main-background {
  fill: $light-background;
  .theme--dark & {
    fill: $dark-background;
  }
}
.subtle--text {
  opacity: 0.7;
}
