<style>
	/* -------------------------------------
                BUTTONS
            ------------------------------------- */
	.btn {
		box-sizing: border-box;
		width: 100%;
		margin-top: 20px;

	}
	.btn > tbody > tr > td {
		padding-bottom: 15px;
	}
	.btn table {
		width: auto;
	}
	.btn table td {
		background: #9733ee;
		background: linear-gradient(90deg,#9733ee,#d823fe);
		border-radius: 150px;
		text-align: center;
	}
	.btn a {
		background: #9733ee;
		background: linear-gradient(90deg,#9733ee,#d823fe);
		border: none;
		border-radius: 150px;
		box-sizing: border-box;
		color: #ffffff;
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		font-weight: bold;
		margin: 0;
		padding: 10px 18px;
		text-decoration: none;
	}
	.btn table td:hover,
	.btn a:hover {
		background: #333 !important;
	}
</style>
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td align="center">
			<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn">
				<tbody>
					<tr>
						<td align="center">
							<table role="presentation" border="0" cellpadding="0" cellspacing="0">
								<tbody>
									<tr>
										<td>
											<a href="{{href}}" target="_blank">{{label}}</a>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
</table>
