<template>
  <div>
    <div ref="chart"></div>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'nuxt-property-decorator'
import { EventDatePricingStatItem } from '@shared/interfaces'

@Component({})
export default class Donuts extends Vue {
  $am4core: any
  @Prop() items!: EventDatePricingStatItem[]
  $refs!: {
    chart: any
  }
  chart: any = ''
  pieSeries: any = ''
  mounted() {
    this.amd()
  }
  beforeDestroy() {
    let { am4core } = this.$am4core()
    am4core.disposeAllCharts()
  }
  amd() {
    // Add data
    let { am4core, am4charts, am4themes_animated, am4themes_dark } = this.$am4core()
    this.chart = am4core.create(this.$refs.chart, am4charts.PieChart)

    this.chart.data = this.items
    this.chart.logo.disabled = true
    this.chart.innerRadius = am4core.percent(40)

    // SERIE CONFIGURATION
    this.pieSeries = this.chart.series.push(new am4charts.PieSeries())
    this.pieSeries.dataFields.value = 'value'
    this.pieSeries.dataFields.category = 'name'
    this.pieSeries.ticks.template.disabled = true
    this.pieSeries.labels.template.disabled = true
    // Serie color
    const colorSet = new am4core.ColorSet()
    colorSet.list = ['#ccc', '#9733ee', '#d823fe', '#1393eb', '#b0dbf8'].map(function(color) {
      return new am4core.color(color)
    })
    this.pieSeries.colors = colorSet

    // LEGEND CONFIGURATION
    this.chart.legend = new am4charts.Legend()
    this.chart.legend.position = 'right'
    this.chart.legend.valueLabels.template.text = ``
    // LEGEND FORMAT
    this.chart.legend.labels.template.text = `{name}%%{price}`

    this.chart.legend.labels.template.adapter.add('textOutput', (text: any) => {
      const [name, price] = text.split('%%')
      const newText = price != '0' ? `[#fff]${name}[/] [#fff font-size: 12px](${price} CHF)[/]` : `[#fff]${name}[/]`
      return `${newText}`
    })
  }
}
</script>
<style lang="scss">
#myChart {
  width: 100%;
}
</style>
