<template>
  <div>
    <div ref="chart"></div>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import { EventDatePricingStatItem } from '@shared/interfaces'

@Component({})
export default class LineChart extends Vue {
  $am4core: any
  @Prop() items!: EventDatePricingStatItem[]
  $refs!: {
    chart: any
  }
  mounted() {
    this.amd()
  }
  amd() {
    // Add data
    let { am4core, am4charts, am4themes_animated, am4themes_dark } = this.$am4core()
    let chart = am4core.create(this.$refs.chart, am4charts.PieChart)
    chart.data = this.items
    chart.logo.disabled = true
    chart.innerRadius = am4core.percent(40)
    // Add and configure Series
    let pieSeries = chart.series.push(new am4charts.PieSeries())
    pieSeries.dataFields.value = 'value'
    pieSeries.dataFields.category = 'name'
  }
}
</script>
<style lang="scss">
#myChart {
  width: 100%;
}
</style>
