<template>
  <div class="dahsboard">
    <DashboardStats />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import DashboardStats from '@/components/dashboard/DashboardStats.vue'
@Component({
  layout: 'dashboard',
  components: { DashboardStats },
  middleware: ['auth']
})
export default class Dashboard extends Vue {
  head() {
    return {
      title: 'Dashboard | Majentus'
    }
  }
}
</script>
<style lang="scss"></style>
