<template>
  <div>
    <ScannerAuthorizationForm />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import ScannerAuthorizationForm from '@/components/dashboard/ScannerAuthorizationForm.vue'
@Component({
  layout: 'dashboard',
  components: { ScannerAuthorizationForm }
})
export default class ScannerPage extends Vue {
  head() {
    return {
      title: 'Scanner | Majentus'
    }
  }
}
</script>
<style lang="scss"></style>
