///////////////////////////////////////////////////////////////////////////////
// Mixins
///////////////////////////////////////////////////////////////////////////////
@mixin cleanScrollbar($color: #faf4f4) {
  &::-webkit-scrollbar {
    width: 8px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $color;
    transition: background 0.3s;
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    transition: background 0.3s;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba($color, 0.5);
  }
}
///////////////////////////////////////////////////////////////////////////////
// Relative font size
///////////////////////////////////////////////////////////////////////////////

@function remCalc($px) {
  $remSize: $px / $base;
  @return $remSize * 1rem;
}
@function calculateEm($px, $reference) {
  $emSize: $px / $reference;
  @return $emSize * 1em;
}

@mixin fontsize($px) {
  font-size: remCalc($px);
}

///////////////////////////////////////////////////////////////////////////////
// Position
///////////////////////////////////////////////////////////////////////////////

@mixin pos($pos: null, $top: null, $right: null, $bottom: null, $left: null) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

///////////////////////////////////////////////////////////////////////////////
// Flex shortcut
///////////////////////////////////////////////////////////////////////////////

@mixin flex($align: null, $justify: null, $direction: null, $wrap: null) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

///////////////////////////////////////////////////////////////////////////////
// Size
///////////////////////////////////////////////////////////////////////////////

@mixin sizer($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin sizerRem($width, $height: $width) {
  @include sizer(remCalc($width), remCalc($height));
}

///////////////////////////////////////////////////////////////////////////////
// Troncate
///////////////////////////////////////////////////////////////////////////////

@mixin troncate() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

///////////////////////////////////////////////////////////////////////////////
// Font
///////////////////////////////////////////////////////////////////////////////

@mixin font($size: null, $weight: null, $color: null, $family: null) {
  @if ($size) {
    @include fontsize($size);
  }
  @if ($weight) {
    font-weight: $weight;
  }
  @if ($color) {
    color: $color;
  }
  @if ($family) {
    font-family: $family;
  }
}
@mixin fontSizer($size: null, $line-height: null, $spacing: null, $weight: null) {
  @if ($size) {
    @include fontsize($size);
  }
  @if ($line-height) {
    line-height: ($line-height / $size);
  }
  @if ($spacing) {
    @if ($size) {
      letter-spacing: calculateEm($spacing, $size);
    } @else {
      letter-spacing: calculateEm($spacing, $size);
    }
  }
  @if ($weight) {
    font-weight: $weight;
  }
}

///////////////////////////////////////////////////////////////////////////////
// Transition
///////////////////////////////////////////////////////////////////////////////

@mixin transition() {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

///////////////////////////////////////////////////////////////////////////////
// Responsive ratio
///////////////////////////////////////////////////////////////////////////////

@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    display: block;
    content: '\0020';
    width: 100%;
    padding-bottom: percentage($height / $width);
  }

  > * {
    @include pos(absolute, 0, 0, 0, 0);
    width: 100%;
  }
}

@mixin styled-background() {
  /*
  background-image: url('~assets/images/styled-gradient01.jpg');
  background-size: cover;
*/
  background: radial-gradient(100% 225% at 100% 0%, #a005e0 0%, #000000 100%),
    linear-gradient(236deg, #751c6e 0%, #000000 100%),
    linear-gradient(
      135deg,
      #e9cdff 0%,
      #e7cdff 36%,
      #3d009f 36%,
      #52009f 60%,
      #51076f 60%,
      #3d076f 67%,
      #280a3c 67%,
      #210a3c 100%
    ) !important;
  background-blend-mode: overlay, hard-light, normal;
}
