@import '~vuetify/src/styles/settings/_colors.scss';

$pseudo-content: '\0020';
$weight-bold: 500;
$weight-normal: normal;
$grey-lighter: #ccc;
$white-ter: #ccc;

$primary: #9733ee;
$white: #fff;
$black: #000;

$dark-background: #121212;
$light-background: #fff;

$gradient-start: $primary;
$gradient-end: #d823fe;
$primary-gradient: linear-gradient(
  90deg,
  $gradient-start 0%,
  $gradient-end 100%
);

$success: map-get($green, base);

$dark-grey: map-get($grey, darken-4);
$mid-grey: map-get($grey, base);
$light-grey: map-get($grey, lighten-3);

$radius: 5px;
$box-radius: 5px;
$box-shadow: 1px 1px 10px rgba($black, 0.2);
$box-shadow-hover: 1px 13px 22px rgba($black, 0.2);
