<template>
  <v-form ref="form" v-if="user" v-model="valid" :lazy-validation="true" @submit.prevent="submit" class="account-form">
    <dashboard-subtitle>Avatar</dashboard-subtitle>

    <avatar-field label="avatar" :value="user.avatar" @change="avatarChange" />

    <dashboard-subtitle>Informations générales</dashboard-subtitle>

    <text-field label="Nom" v-model="user.lastName" @input="(value) => update('lastName', value)" />
    <text-field label="Prénom" v-model="user.firstName" @input="(value) => update('firstName', value)" />
    <email-field label="Email" v-model="user.email" @input="(value) => update('email', value)" :hint="emailHint" />
    <v-alert class="account-form__alert" type="info" outlined dense v-if="user.changeEmail">
      Il y a une modification en cours de votre adresse de messagerie, cliquez sur lien d'activation reçu sur
      <span class="account-form__alert__highlight"> {{ user.changeEmail.email }}.</span>
      <a @click="cancelChangeEmail">annuler</a>
    </v-alert>

    <dashboard-subtitle>Changer mot de passe</dashboard-subtitle>

    <password-field
      label="Mot de passe actuelle"
      v-model="oldPassword"
      @input="(value) => update('oldPassword', value)"
    />
    <password-field label="Nouveau mot de passe" v-model="password" @input="(value) => update('password', value)" />
    <password-field label="Répéter le mot de passe" v-model="passwordRepeat" />
    <v-btn rounded color="primary" type="sumbit">Sauvegarder</v-btn>

    <v-snackbar v-model="snackbar" color="success" :timeout="3000" :right="true" :top="true">
      Image sauvegardée
    </v-snackbar>
  </v-form>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { Context } from '@nuxt/types'
import { UpdateUserRequest, UserItemInterface, MediaItemInterface } from '~/../shared/interfaces'
type UpdateUserFieldNames = 'firstName' | 'lastName' | 'email' | 'password' | 'oldPassword' | 'avatar'
@Component({})
export default class AccountForm extends Vue {
  valid: boolean = false
  user: UpdateUserRequest | null = null
  userUpdate: UpdateUserRequest = this.defaultUserUpdate()

  oldPassword: string = ''
  password: string = ''
  passwordRepeat: string = ''
  update(fieldName: UpdateUserFieldNames, value: string) {
    this.userUpdate[fieldName] = value
  }
  snackbar: boolean = false
  async avatarChange(media: MediaItemInterface) {
    if (media) {
      this.save({ avatar: media }, 'Avatar sauvegardé')
    } else {
      this.save({ avatar: media }, 'Avatar supprimé', 'warning')
    }
  }
  async submit() {
    this.save(this.userUpdate)
  }
  async save(
    data: UpdateUserRequest,
    successMessage: string = 'Sauvegarde réussi',
    snackbarColor: SnackbarColor = 'success'
  ) {
    try {
      const response = await this.$api.user.update(data)
      this.$mj.openSnackbar(successMessage, snackbarColor)
      this.fetchUser()
      this.$auth.fetchUser()
    } catch (e) {
      this.$mj.openErrorSnackbar(e)
    }
  }
  created() {
    this.fetchUser()
  }

  get emailHint() {
    return `
    Nous vous enverrons un e-mail de confirmation à votre nouvelle adresse.
    La nouvelle adresse ne sera pas active tant que vous n’aurez pas confirmé.
    `
  }
  async cancelChangeEmail() {
    await this.$api.user.cancelChangeEmail(this.user!.changeEmail!.id, this.user!.changeEmail!.cancelToken)
    this.fetchUser()
  }
  async fetchUser(): Promise<void> {
    const user = await this.$api.user.getBasicInformation()
    this.user = user
    this.userUpdate = this.defaultUserUpdate()
  }
  defaultUserUpdate(): UpdateUserRequest {
    return {
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      oldPassword: '',
      avatar: null
    }
  }
}
</script>
<style lang="scss">
.account-form {
  &__alert {
    &__highlight {
      font-weight: 600;
    }
  }
}
</style>
