<template>
  <div class="gateway-form">
    <v-dialog v-model="loading" hide-overlay persistent width="300">
      <v-card color="primary" dark>
        <v-card-text>
          Veuillez patienter
          <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
    <dashboard-title>Paramètres de paiements</dashboard-title>
    <h3>Passerelle de paiement</h3>
    <v-item-group v-model="selectedGateway">
      <v-row>
        <v-col v-for="(item, i) in gateways" :key="i" cols="12" md="4">
          <v-item v-slot:default="{ active, toggle }" :disabled="item.disabled">
            <v-card
              :color="active ? 'primary' : ''"
              class="d-flex align-center gateway-form__gateway"
              dark
              height="200"
              @click="item.disbaled ? '' : toggle"
            >
              <v-scroll-y-transition>
                <div class="display-3 flex-grow-1 text-center">
                  <img :src="item.logo" />
                  <div class="gateway-form__gateway__commingsoon" v-if="item.disabled">
                    Prochainement
                  </div>
                </div>
              </v-scroll-y-transition>
            </v-card>
          </v-item>
        </v-col>
      </v-row>
    </v-item-group>

    <v-form
      ref="stripeform"
      class="gateway-form__stripe"
      v-if="stripe && selectedGatewayName === 'stripe'"
      v-model="valid"
    >
      <dashboard-subtitle>Clefs api du compte stripe</dashboard-subtitle>
      <text-field label="Clé publique" v-model="stripe.publicKey" required></text-field>
      <text-field
        label="Clé secrète"
        v-model="stripe.secretKey"
        :hint="stripeHint"
        persistent-hint
        required
      ></text-field>
      <v-btn class="gateway-form__submit" rounded color="primary" @click="sumbitStripe()">Sauvegarder</v-btn>
    </v-form>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { StripeEntityRequest } from '@shared/interfaces'
@Component({})
export default class GatewayForm extends Vue {
  gateway: string = ''
  stripe: StripeEntityRequest = {}
  selectedGateway = 0
  loading: boolean = true
  valid: boolean = false
  $refs!: {
    stripeform: any
  }
  get selectedGatewayName() {
    return this.gateways[this.selectedGateway].name
  }
  gateways = [
    {
      name: 'stripe',
      logo: require('@/assets/svg/logos/stripe.svg'),
      disabled: false
    },
    {
      name: 'datatrans',
      logo: require('@/assets/svg/logos/datatrans.svg'),
      disabled: true
    }
  ]
  stripeHint: string = `Utilisez une clé limitée les droit d'écriture sur "charge"`
  created() {
    this.fetchGateway()
  }
  async fetchGateway() {
    this.loading = true
    const data = await this.$api.user.getGateway()
    if (data) {
      this.stripe = data
      this.gateway = data.gateway
    }
    this.loading = false
  }
  async sumbitStripe() {
    const valid = this.$refs.stripeform.validate()
    if (!valid) {
      return
    }
    if (!this.stripe.id) {
      this.createStripeAccount()
    } else {
      this.updateStripeAccount()
    }
  }
  async createStripeAccount() {
    this.loading = true
    try {
      const response = this.$api.user.createStripeAccount(this.stripe)
      this.$mj.openSnackbar('Compte stripe sauvegardé')
      this.fetchGateway()
    } catch (e) {
      this.$mj.openErrorSnackbar(e)
      this.loading = false
    }
  }
  async updateStripeAccount() {
    this.loading = true
    try {
      const response = this.$api.user.updateStripeAccount(this.stripe)
      this.$mj.openSnackbar('Compte stripe sauvegardé')
      this.fetchGateway()
    } catch (e) {
      this.$mj.openErrorSnackbar(e)
      this.loading = false
    }
  }
}
</script>
<style lang="scss">
.gateway-form {
  &__gateway {
    overflow: hidden;
    img {
      display: block;
      width: 50%;
      margin: auto;
    }
    &__commingsoon {
      font-size: 18px;
      position: absolute;
      top: 0%;
      left: 0;
      background: $primary-gradient;
      padding: 0 0.5em;
    }
  }
  &__submit {
    margin-top: 16px;
  }
}
</style>
