<template>
  <fragment v-if="$auth.loggedIn">
    <div class="dashboard-nav__ghost"></div>
    <v-navigation-drawer v-model="isOpen" class="dashboard-nav" dark fixed :permanent="$vuetify.breakpoint.mdAndUp">
      <v-list-item :to="{ name: 'dashboardAccount' }" class="dashboard-nav__user--active">
        <v-list-item-avatar>
          <v-img v-if="$auth.$state.user.avatar" :src="$auth.$state.user.avatar.path"></v-img>
          <v-avatar v-else size="40" color="primary">
            {{ userInitials }}
          </v-avatar>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>{{ $auth.$state.user.fullName }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-item exact v-for="item in items" :key="item.title" link :to="item.to">
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.label }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider></v-divider>
      <v-list-item>
        <v-switch v-model="$vuetify.theme.dark"></v-switch>
      </v-list-item>
      <template v-slot:append>
        <v-list>
          <v-list-item>
            <v-btn block @click="logout" outlined>
              Déconnexion
              <v-icon right small>mdi-logout</v-icon>
            </v-btn>
          </v-list-item>
          <v-list-item>
            <v-btn block text href="/" nuxt small>
              <v-icon left small>mdi-arrow-left</v-icon>
              Retour à l'accueil
            </v-btn>
          </v-list-item>
        </v-list>
      </template>
    </v-navigation-drawer>
    <button @click="isOpen = !isOpen" class="dashboard-nav__opener" :class="{ active: isOpen }">
      <v-icon color="white" v-if="!isOpen">mdi-forwardburger</v-icon>
      <v-icon color="white" v-if="isOpen">mdi-backburger</v-icon>
    </button>
  </fragment>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
@Component({})
export default class DashboardNavigation extends Vue {
  active: boolean = true
  items: any[] = [
    {
      to: { name: 'dashboard' },
      label: 'Dashboard',
      icon: 'mdi-view-dashboard'
    },
    {
      to: { name: 'dashboardListEvent' },
      label: 'Evénements',
      icon: 'mdi-calendar'
    },
    {
      to: { name: 'dashboardNewEvent' },
      label: 'Ajouter événement',
      icon: 'mdi-calendar-edit'
    },
    {
      to: { name: 'dashboardListTicket' },
      label: 'Billets',
      icon: 'mdi-ticket-confirmation-outline'
    },
    {
      to: { name: 'dashboardNewTicket' },
      label: 'Caisse',
      icon: 'mdi-cash-register'
    },
    {
      to: { name: 'dashboardScanner' },
      label: 'Scanner',
      icon: 'mdi-qrcode-scan'
    },
    {
      to: { name: 'dashboardAccount' },
      label: 'Compte',
      icon: 'mdi-account'
    },
    {
      to: { name: 'dashboardGateway' },
      label: 'Paiements',
      icon: 'mdi-credit-card-outline'
    }
  ]
  isOpen: boolean = false
  get userInitials() {
    return (
      this.$auth.$state.user.firstName.charAt(0).toUpperCase() + this.$auth.$state.user.lastName.charAt(0).toUpperCase()
    )
  }
  get isMini() {
    return !this.isOpen && !this.$vuetify.breakpoint.mdAndUp
  }
  created() {}
  async logout() {
    const test = await this.$auth.logout()
    this.$router.push({ name: 'home' })
  }
}
</script>
<style lang="scss">
.dashboard-nav {
  bottom: 0;
  .dashboard-nav__user--active {
    color: $white;
    &::before {
      opacity: 0;
    }
  }
  &::before {
    content: $pseudo-content;
    @include pos(absolute, 0, -100px, 0, 0);
  }
  &::before,
  &__ghost,
  &__opener::before {
    @include styled-background();
  }
  &__opener {
    @include breakpoint(md-min) {
      display: none;
    }
    position: fixed;
    display: flex;
    align-items: center;
    top: 0px;
    left: 0px;
    padding: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    z-index: 22;
    outline: none;
    transition: left 0.2s;
    &.active {
      left: 255px;
    }
    &::before {
      content: $pseudo-content;
      position: absolute;
      top: 0;
      left: -60px;
      right: 0;
      height: 100vh;
    }
  }
  &__ghost {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    color: $white;
  }
}
</style>
