<template>
  <typography markup="h2" size="h4" :color="color" class="dashboard-subtitle" :center="center">
    <slot />
  </typography>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
@Component({})
export default class DashboardTitle extends Vue {
  @Prop({ default: 'inherit' })
  color!: string

  @Prop({ default: false })
  center!: null | boolean
}
</script>
<style lang="scss">
.dashboard-subtitle {
  margin-bottom: 16px;
  margin-top: 24px;
  .v-card__title & {
    margin-top: 0;
  }
}
</style>
