<template>
  <div class="dashboard-stats">
    <dashboard-title>Statistiques par date d'événement</dashboard-title>
    <div class="dashboard-stats__items" v-if="stats.length">
      <v-row>
        <v-col cols="12" md="6" v-for="(chart, idx) in stats" :key="idx">
          <v-sheet dark class="dashboard-stats__item">
            <div class="dashboard-stats__item__title">
              <small>
                {{ $moment(chart.date).format('DD/MM/YYYY HH:mm') }}
              </small>
              <typography :center="true" size="h5" underline>
                {{ chart.name }}
              </typography>
            </div>
            <div class="dashboard-stats__item__info">Revenu: {{ income(chart) }} CHF</div>
            <DonutChart :items="chart.items" />
          </v-sheet>
        </v-col>
      </v-row>
    </div>
    <div v-if="!loading && !stats.length">
      Aucun statistique à afficher pour le moment
    </div>
    <v-row v-if="loading">
      <v-col v-for="i in 9" :key="'skeleton' + i" cols="12" md="6">
        <v-sheet :elevation="3" class="">
          <v-skeleton-loader class="mx-auto" type="image"></v-skeleton-loader>
        </v-sheet>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { Context } from '@nuxt/types'
import { EventDatePricingStats, EventDatePricingStatItem } from '@shared/interfaces'
import DonutChart from '@/components/core/charts/DonutChart.vue'
@Component({ components: { DonutChart } })
export default class DashboardStats extends Vue {
  created() {
    this.fetchStats()
  }
  stats: EventDatePricingStats[] = []
  loading: boolean = false
  income(stat: EventDatePricingStats) {
    let total = 0
    stat.items.forEach((item) => {
      total += item.value * item.price
    })
    return total
  }

  async fetchStats() {
    this.loading = true
    this.stats = await this.$api.stats.eventDatesPricings()
    this.loading = false
  }
}
</script>
<style lang="scss">
.dashboard-stats {
  &__item {
    width: 100%;
    padding: 20px 40px;
    border-radius: $box-radius;
    box-shadow: $box-shadow;
    text-align: center;
    @include styled-background();
    &__title {
      margin-bottom: 24px;
    }
  }
}
.line-chart {
  width: 100%;
}
</style>
