<template>
  <typography
    markup="h1"
    size="h1"
    underline
    :color="color"
    class="dashboard-title"
    :center="center"
  >
    <slot />
  </typography>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
@Component({})
export default class DashboardTitle extends Vue {
  @Prop({ default: 'inherit' })
  color!: string

  @Prop({ default: false })
  center!: null | boolean
}
</script>
<style lang="scss">
.dashboard-title {
  margin-bottom: 25px;
  margin-top: 50px;
  .v-card__title & {
    margin-top: 0;
  }
}
</style>
