<template>
  <fragment>
    <v-card :elevation="1" class="mj-form mj-form--modal">
      <div class="modalform__form">
        <date-time-field label="Date" v-model="dateData.date" />
        <date-status-field v-model="dateData.status" required />
        <div class="modalform__actions">
          <v-btn @click="cancel">Annuler</v-btn>
          <v-btn color="primary" @click="save">Valider</v-btn>
        </div>
      </div>
    </v-card>
  </fragment>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'nuxt-property-decorator'
import { EventItemInterface, EventDateEditInterface } from '@shared/interfaces'
import DateStatusField from '@/components/core/field/DateStatusField.vue'
import TeaserDate from '@/components/events/teaser/TeaserDate.vue'

@Component({ components: { DateStatusField, TeaserDate } })
export default class EventDateItem extends Vue {
  @Prop()
  value!: EventDateEditInterface
  @Prop()
  isOpen!: boolean

  dateData: any = {}
  created() {
    this.onValueChange()
  }

  @Watch('value')
  @Watch('isOpen')
  onValueChange() {
    this.dateData = Object.assign({}, this.value ? this.value : {})
  }

  save() {
    this.$emit('submit', this.dateData)
  }
  cancel() {
    this.dateData = this.value
    this.$emit('cancel')
  }
}
</script>
<style lang="scss"></style>
