<template>
  <div class="event-form" v-if="eventData">
    <v-form ref="form" v-model="valid" :lazy-validation="true">
      <TextField label="Titre" v-model="eventData.title" required />
      <number-field
        min="0"
        label="Capacité de la salle"
        v-model="eventData.capacity"
        :rules="rules.capacity"
        required
      />
      <number-field
        min="0"
        label="Durée du show"
        v-model="eventData.duration"
        :rules="rules.duration"
        suffix="minutes"
      />
      <categories-field label="Categories" v-model="eventData.categories" />
      <v-textarea label="Description" :auto-grow="true" v-model="eventData.description" outlined />
    </v-form>
    <v-btn color="primary" @click="submitForm">Sauvegarder</v-btn>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import { validators as v } from '@/plugins/Validator'

import { NewEventInterface, EventItemInterface, EditEventInterface } from '@shared/interfaces'
@Component({})
export default class EventForm extends Vue {
  $refs!: {
    form: any
  }
  @Prop()
  event?: EventItemInterface
  lazy: boolean = true
  valid: boolean = false

  datetime: any = null
  rules: any = {
    title: v.rules([v.required, v.minLength(3)], 'titre'),
    capacity: v.rules([v.required]),
    duration: v.rules([v.required]),
    categories: v.rules([v.required])
  }

  eventData?: EditEventInterface | null = null

  mounted() {
    if (this.event) {
      const c = this.event.categories
      this.eventData = {
        id: this.event.id,
        title: this.event.title,
        categories: c ? c.map((cat) => cat.id) : [],
        capacity: this.event.capacity,
        duration: this.event.duration,
        description: this.event.description
      }
    } else {
      this.eventData = {
        id: undefined,
        title: '',
        categories: [],
        description: '',
        capacity: undefined,
        duration: undefined
      }
    }
  }

  async submitForm() {
    if (this.$refs.form.validate()) {
      this.$emit('submit', this.eventData)
    } else {
      console.error('NOT VALID')
    }
  }
  doValidation() {
    this.$refs.form.validate()
  }
}
</script>
<style lang="scss"></style>
