<template>
  <div class="mj-form">
    <div class="mj-form__actions">
      <v-btn @click="addDate" color="primary" outlined="">
        <v-icon left>mdi-plus</v-icon>
        Ajouter une date
      </v-btn>
    </div>

    <v-data-table :headers="headers" :items="dates" class="elevation-1" :loading="loading">
      <template v-slot:item.status="{ item }">
        <status-label :item="item.status"></status-label>
      </template>
      <template v-slot:item.date="{ item }">
        {{ $moment(item.date).format('DD MMMM YYYY HH:mm') }}
      </template>
      <template v-slot:item.sold="{ item }">
        <span class="availability">{{ item.sold }}/{{ event.capacity }}</span>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon small @click="askDeleteItem(item)">
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="500px" persistent>
      <event-date-item v-model="editedItem" :isOpen="dialog" :event="event" @submit="onSubmit" @cancel="onCancel" />
    </v-dialog>

    <confirm-dialog v-model="removeDialog" :item="deletedItem" @confirm="(deletedItem) => deleteItem(deletedItem.id)">
      Êtes-vous sure de vouloir supprimer cette date ?
    </confirm-dialog>

    <v-snackbar v-model="snackbar" color="success" :timeout="3000" :right="true" :top="true">
      Date sauvegardée
    </v-snackbar>
    <v-snackbar v-model="snackbarDelete" color="warning" :timeout="3000" :right="true" :top="true">
      Date Supprimée
    </v-snackbar>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'nuxt-property-decorator'
import TeaserDate from '@/components/events/teaser/TeaserDate.vue'
import ConfirmDialog from '@/components/core/ConfirmDialog.vue'
import StatusLabel from '@/components/core/StatusLabel.vue'

import {
  EventItemInterface,
  INewEventDate,
  EventDateEditInterface,
  EventDateInterface,
  EventStatus
} from '@shared/interfaces'
import EventDateItem from './EventDateItem.vue'

@Component({
  components: { EventDateItem, TeaserDate, ConfirmDialog, StatusLabel }
})
export default class EventDateForm extends Vue {
  @Prop({ required: true })
  event!: EventItemInterface
  dates: EventDateInterface[] = []
  dialog: boolean = false
  snackbar: boolean = false
  snackbarDelete: boolean = false
  removeDialog: boolean = false
  editedItem: EventDateEditInterface = {}
  deletedItem: EventDateEditInterface = {}
  loading: boolean = false
  headers: VuetifyDataTableHeader[] = [
    {
      text: 'Date',
      align: 'start',
      sortable: true,
      value: 'date'
    },
    {
      text: 'Status',
      align: 'start',
      sortable: true,
      value: 'status'
    },
    {
      text: 'Vendu/Capacité',
      align: 'start',
      sortable: true,
      value: 'sold'
    },
    {
      text: 'Actions',
      align: 'start',
      sortable: true,
      value: 'actions'
    }
  ]

  created() {
    this.loading = true
    this.initDates()
  }

  @Watch('event')
  initDates() {
    this.dates = []
    this.event.dates.forEach((date) => {
      this.dates.push({
        id: date.id,
        date: date.date,
        status: date.status,
        sold: date.sold
      })
    })
    this.loading = false
  }
  async askDeleteItem(item: any) {
    this.deletedItem = item
    this.removeDialog = true
  }
  async deleteItem(id: number) {
    this.loading = true
    try {
      const result = await this.$api.eventDate.remove(id)
      this.snackbarDelete = true
    } catch (e) {
      this.$mj.openErrorSnackbar(e)
    }
    this.$emit('reload')
    this.removeDialog = false
  }
  editItem(item: EventDateEditInterface) {
    this.dialog = true
    this.editedItem = item
  }
  addDate() {
    this.editedItem = { id: undefined, date: undefined, status: undefined }
    this.dialog = true
  }
  onCancel() {
    this.dialog = false
    this.editedItem = { id: undefined, date: undefined, status: undefined }
  }
  async onSubmit(item: any) {
    if (item.id) {
      await this.update(item)
    } else {
      await this.post(item)
    }
    this.snackbar = true
    this.dialog = false
    this.editedItem = {}
  }

  async post(item: any) {
    const result = await this.$api.eventDate.create({
      date: item.date,
      event: this.event.id,
      status: item.status
    })
    this.dates.push({
      id: result.id,
      date: result.date,
      status: result.status,
      sold: result.sold
    })
  }
  async update(item: any) {
    try {
      const result = await this.$api.eventDate.update(item)
      this.editedItem = item
      this.$emit('reload')
    } catch (e) {
      console.warn('TODO: Snackbar error see EventPricingForm as example')
    }
  }
}
</script>
