<template>
  <div>
    <dashboard-title>Autorisations de scan</dashboard-title>
    <v-alert type="info" v-if="!userAuthorizations.length">Aucune autorisation trouvée</v-alert>
    <v-row>
      <v-col cols="12" md="4" v-for="authorization in userAuthorizations" :key="authorization.id">
        <ScannerAuthorizationCard @delete="fetchUserAuthorizations" :authorization="authorization" />
      </v-col>
    </v-row>
    <dashboard-title>Ajouter une autorisation</dashboard-title>
    <v-form>
      <v-select
        v-model="event"
        :items="events"
        item-text="title"
        item-value="id"
        label="Evénement"
        :rules="rules.required"
        return-object
        outlined
      ></v-select>
      <v-select v-if="event" v-model="date" :items="event.dates" item-value="id" label="Date" return-object outlined>
        <template slot="item" slot-scope="{ item }">
          {{ $moment(item.date).format('DD/MM/YYYY HH:mm') }}
        </template>
        <template slot="selection" slot-scope="{ item }">
          {{ $moment(item.date).format('DD/MM/YYYY HH:mm') }}
        </template>
      </v-select>
      <div v-if="date">
        <div v-if="authorization">
          <ScannerAuthorizationCard :authorization="authorization" @delete="authorization = null" />
        </div>
        <div v-else>
          <dashboard-subtitle>Cette date n'a pas d'autorisation de scan.</dashboard-subtitle>
          <v-btn color="primary" @click="createAuthorization">
            <v-icon left small>mdi-qrcode-scan</v-icon>
            Créer une autorisation de scan
          </v-btn>
        </div>
      </div>
    </v-form>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Watch } from 'nuxt-property-decorator'
import { validators as v } from '@/plugins/Validator'
import { EventItemInterface, EventDateInterface, ScanAuthorizationInterface } from '@shared/interfaces'
import ScannerAuthorizationCard from '@/components/core/card/ScannerAuthorizationCard.vue'
@Component({
  components: { ScannerAuthorizationCard }
})
export default class ScannerAuthorizationForm extends Vue {
  event: EventItemInterface | null = null
  date: EventDateInterface | null = null

  events: any = []

  rules: any = {
    required: v.rules([v.required])
  }
  authorization: ScanAuthorizationInterface | null = null
  userAuthorizations: ScanAuthorizationInterface[] = []

  loading: boolean = false

  created() {
    this.fetchData()
  }
  async fetchData() {
    this.loading = true
    await this.fetchEvent()
    await this.fetchUserAuthorizations()
    this.loading = false
  }
  @Watch('event')
  unsetDate() {
    this.date = null
  }

  @Watch('date')
  async fetchAuthorization() {
    if (this.date) {
      this.loading = true
      this.authorization = await this.$api.scan.getDateAuthorization(this.date.id)
      this.loading = false
    } else {
      this.authorization = null
    }
    return true
  }
  async fetchUserAuthorizations() {
    this.userAuthorizations = await this.$api.scan.currentUserAuthorizations()
    return true
  }
  async fetchEvent() {
    this.events = await this.$api.event.currentUser()
    return true
  }
  async createAuthorization() {
    if (this.date) {
      this.loading = true
      this.authorization = await this.$api.scan.createDateAuthorization(this.date.id)
      this.loading = false
    }
    return true
  }
}
</script>
<style lang="scss"></style>
