<style>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800 &display=swap');
	* {
		box-sizing: border-box;
	}
	body,
	html {
		margin: 0;
		padding: 0;
		font-size: 0.5vw;
		font-family: 'Poppins', sans-serif;
	}
	.page {
		width: 100%;
		padding-bottom: 40%;
		position: relative;
	}
	.ticket {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 2rem;
		font-size: 3rem;
		display: flex;
		flex-direction: column;
		background: {{primaryColor}}
		;
	}
	.ticket__wrap {
		background: white;
		width: 100%;
		height: 100%;
		padding: 6rem;
		display: flex;
	}
	.ticket__main {
		width: 70%;
	}
	.ticket__main__qr {
		width: 30rem;
		margin-right: 4rem;
	}
	.ticket__main__content {
		margin-top: 4rem;
		display: flex;
		align-items: center
	}
	.ticket__main__id {
		position: absolute;
		bottom: 5rem;
	}
	.event-title {
		font-size: 7rem;
		margin-bottom: 0;
		margin-top: 0;
		line-height: 1;
		font-weight: 300;
		margin-bottom: 10rem;
	}
	.event-date {
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: 3.3rem;
		color: {{primaryColor}}
	}
	.pricing {
		margin-top: 2rem;
		display: flex;
	}
	.pricing-title {
		margin-right: 4rem;
	}

	h3 {
		margin: 0;
	}


	.ticket__aside {
		display: flex;
		flex-wrap: wrap;
		width: 40%;
		padding: 6rem;
		height: 43rem;
		position: absolute;
		right: 0;
		bottom: 0;
		top: 0;
		transform-origin: top right;
		transform: rotateZ(-90deg) translateY(-100%);
		border-top: 0.2rem dashed{{primaryColor}}
	}
	.ticket__aside__header {
		width: 70%;
	}
	.ticket__aside__header .event-title {
		font-size: 5rem
	}
	.ticket__aside__header .event-date {
		font-size: 2.5rem
	}

	.ticket__aside__qr {
		width: 30%;
	}
	.ticket-id {
		width: 100%;
		font-size: 2rem;
		opacity: 0.7;
		letter-spacing: 0.05em;
		text-transform: uppercase
	}
	svg {
		width: 100%;
		height: auto;
	}

	.ticket__footer {}
</style>
