<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{{ title }}</title>
		{% include 'style.twig' %}
	</head>
	<body>
		<div class="page">
			<div class="ticket">
				<div class="ticket__wrap">
					<main class="ticket__main">
						<div class="ticket__main__header">
							<div class="event-date">{{date}}</div>
							<h1 class="event-title">{{eventTitle}}</h1>
						</div>
						<div class="ticket__main__content">
							<div class="ticket__main__qr">
								{{ qrCode | raw }}
							</div>
							<div class="ticket__main__info">
								<div class="owner">
									<div class="owner-email">
										<h3>Délivré à</h3>
										{{email}}
									</div>
								</div>
								<div class="pricing">
									<div class="pricing-title">
										<h3>Categorie</h3>
										{{pricing.title}}
									</div>
									<div class="pricing-price">
										<h3>Tarifs</h3>
										{{pricing.price}}
									</div>
								</div>
							</div>
						</div>
						<div class="ticket__main__id ticket-id">
							Billet N°{{id}}
						</div>
					</main>
				</div>
				<aside class="ticket__aside">
					<div class="ticket__aside__header">
						<div class="event-date">{{date}}</div>
						<h1 class="event-title">{{eventTitle}}</h1>
					</div>
					<div class="ticket__aside__qr">
						{{ qrCode | raw }}
					</div>

					<div class="ticket__aside__id ticket-id">
						Billet N°{{id}}
					</div>
				</aside>

			</div>
			<div class="ticket__footer"></div>
		</div>

	</body>
</html>
