<template>
  <div class="buy-ticket">
    <v-stepper :dark="isDark" v-model="activeStep">
      <v-stepper-header>
        <v-stepper-step :complete="activeStep > 1" step="1" :editable="activeStep !== 4" edit-icon="mdi-check">
          Date
        </v-stepper-step>
        <v-divider></v-divider>

        <v-stepper-step
          :complete="activeStep > 2"
          step="2"
          :editable="selectedDate !== null && activeStep !== 4"
          edit-icon="mdi-check"
        >
          Tarifs
        </v-stepper-step>

        <v-divider></v-divider>
        <v-stepper-step :complete="activeStep > 3" step="3">Payer</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="activeStep > 4" step="4">Confirmation</v-stepper-step>
      </v-stepper-header>

      <v-stepper-content step="1">
        <event-date-selector v-model="selectedDate" :items="event.dates" />
        <div class="buy-ticket__nav">
          <v-btn
            class="buy-ticket__nav__next"
            color="primary"
            @click="activeStep = 2"
            :disabled="selectedDate === null"
          >
            Suivant
          </v-btn>
        </div>
      </v-stepper-content>

      <v-stepper-content step="2">
        <pricing-selector v-model="event.pricings" :selected-date="selectedDate" />
        <div class="buy-ticket__nav">
          <v-btn class="buy-ticket__nav__prev" color="primary" @click="activeStep = 1">Précédent</v-btn>
          <v-btn class="buy-ticket__nav__next" color="primary" :disabled="!havePricing()" @click="activeStep = 3"
            >Suivant</v-btn
          >
        </div>
      </v-stepper-content>

      <v-stepper-content step="3">
        <v-container class="buy-ticket__back">
          <v-btn @click="activeStep = 2" text>
            <v-icon left>mdi-arrow-left</v-icon>
            Retour
          </v-btn>
        </v-container>
        <checkout v-if="selectedDate !== null" @end="endCheckout" :selectedDate="selectedDate" />
      </v-stepper-content>

      <v-stepper-content step="4">
        <h1 class="title has-text-centered">Confirmation</h1>
        <confirmation v-if="checkoutResponse" :response="checkoutResponse" />
      </v-stepper-content>
    </v-stepper>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Inject, Provide, Prop } from 'nuxt-property-decorator'
import { EventItemInterface, EventDateInterface } from '@shared/interfaces'
import EventDateSelector from '@/components/events/full/BuyTicket/EventDateSelector.vue'
import Checkout from '@/components/events/full/BuyTicket/Checkout.vue'
import Confirmation from '@/components/events/full/BuyTicket/Confirmation.vue'
import PricingSelector from '@/components/events/full/BuyTicket/PricingSelector.vue'
@Component({
  components: {
    EventDateSelector,
    Checkout,
    Confirmation,
    PricingSelector
  }
})
export default class BuyTicket extends Vue {
  // DATA:
  activeStep: number = 1
  checkoutResponse: any = false
  lockChangeStep: boolean = false

  selectedDate: number | null = null

  @Prop({ default: 'light' }) theme!: 'dark' | 'light'
  @Prop({ required: true }) event!: EventItemInterface
  get isDark() {
    if (this.theme) {
      return this.theme === 'dark'
    } else {
      return this.$vuetify.theme.dark
    }
  }
  selectDate(dateIndex: number) {
    this.selectedDate = dateIndex
  }
  endCheckout(response: any) {
    if (response) {
      this.checkoutResponse = response
      this.activeStep = 4
    }
  }
  isClickable(step: number) {
    return this.lockChangeStep ? false : true
  }
  nextDisabled() {
    return this.lockChangeStep ? true : false
  }
  prevDisabled() {
    return this.lockChangeStep ? true : false
  }
  havePricing() {
    let qty = 0
    this.event.pricings.forEach((p) => {
      qty += p.quantity
    })
    return qty > 0
  }
}
</script>
<style lang="scss">
.buy-ticket {
  &__nav {
    display: flex;
    padding: 16px;
    &__next {
      margin-left: auto;
    }
  }
  &__back {
    padding-top: 0;
    padding-bottom: 0;
    .v-btn {
      margin-left: -13px;
    }
  }
}
</style>
