<template>
  <v-container>
    <div class="checkout">
      <v-form v-model="valid" :lazy-validation="true" ref="form">
        <v-row>
          <v-col cols="12" md="8" dark>
            <typography class="checkout__title" size="h3" underline markup="h2">
              Coordonnées
            </typography>
            <div class="checkout__form">
              <div class="checkout-form__fields">
                <EmailField label="email" v-model="email" :rules="rules.email" placeholder="Saisir votre email" />
                <TextField
                  label="Prénom"
                  :rules="rules.firstName"
                  v-model="firstName"
                  placeholder="Saisir votre Prénom"
                />
                <TextField label="Nom" :rules="rules.lastName" v-model="lastName" placeholder="Saisir votre nom" />
                <AddressField v-model="address" required rt />
                <v-stripe-card
                  v-model="token"
                  :api-key="event.gateway.publicKey"
                  hint="Veuillez entrer les détails de la carte"
                  label="Carte"
                  :outlined="true"
                  :hidePostalCode="true"
                  :rules="rules.stripe"
                ></v-stripe-card>
                <v-checkbox
                  class="checkout__accept"
                  label="J'accepte les conditions générales"
                  v-model="accept"
                  :rules="rules.accept"
                >
                  <template v-slot:label>
                    <div>
                      J'accepte les
                      <a href="/conditions-generales" target="_blank" @click.stop>
                        conditions générales
                      </a>
                    </div>
                  </template>
                </v-checkbox>
              </div>
            </div>
          </v-col>
          <v-col cols="12" md="4" dark>
            <order-recap :selected-date="selectedDate" />
            <v-btn @click="createPayment" :loading="isLoading" outlined block color="primary">PAYER</v-btn>
          </v-col>
        </v-row>
      </v-form>
    </div>
  </v-container>
</template>

<script lang="ts">
// @see https://scotch.io/@connor11528/how-to-process-payments-with-nodejs-vue-2-and-stripe
// design inpiration: http://jsfiddle.net/ywain/eckhnz19/
import { Component, Vue, Prop, Inject } from 'nuxt-property-decorator'
import { EventItemInterface, AddressInterface } from '@shared/interfaces'
import DatesFormatter from '@/components/formaters/DatesFormatter.vue'
import { getTotal } from './BuyTicketHelpers'
import { validators as v } from '@/plugins/Validator'
import OrderRecap from './OrderRecap.vue'
type StripeCharge = {
  source: any
  amount: number
  description: string
}
@Component({ components: { DatesFormatter, OrderRecap } })
export default class Checkout extends Vue {
  $refs!: {
    form: any
  }

  rules: any = {
    firstName: v.rules([v.required]),
    lastName: v.rules([v.required]),
    stripe: v.rules([v.required]),
    email: v.rules([v.required, v.email]),
    accept: v.rules([v.requiredCheck], 'veuillez accepter les conditions générales')
  }

  valid: boolean = false

  stripe: any
  card: any
  @Inject('event') event!: EventItemInterface

  @Prop()
  selectedDate!: number

  // declar data
  firstName: string = 'John'
  lastName: string = 'Doe'
  email: string = 'test@test.com'
  isLoading: boolean = false
  accept: boolean = false
  address: AddressInterface = {}
  token: any = ''
  get total() {
    return getTotal(this.event.pricings)
  }
  get eventDate() {
    return this.event.dates[this.selectedDate].date
  }
  mounted() {}

  startLoading() {
    this.isLoading = true
  }
  stopLoading() {
    this.isLoading = false
  }
  get selectedDateId() {
    return this.event.dates[this.selectedDate].id
  }
  async createPayment() {
    if (!this.$refs.form.validate()) {
      return false
    }
    this.startLoading()
    let response
    try {
      // TODO: Type request data
      response = await this.$api.request.post(process.env.NUXT_BACK_URL + '/tickets/buy', {
        eventDateId: this.selectedDateId,
        pricing: this.event.pricings,
        token: this.token.id,
        email: this.email,
        firstName: this.firstName,
        lastName: this.lastName,
        address: this.address
      })
    } catch (error) {
      if (error.response) {
        response = error.response
      }
    }
    this.stopLoading()
    this.$emit('end', response)
  }
}
</script>
<style lang="scss">
.checkout {
  &__title {
    margin-bottom: 24px;
  }
  .checkout__accept {
    margin-top: 0;
  }
}
</style>
