<template>
  <div>
    <div v-if="response.status === 200">
      Paiement réussi. Nous venons de vous envoyé un email avec un lien pour télécharger vos billets.
    </div>
    <div v-else>
      <h2>ERREUR</h2>
      {{ response.data.message }}
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Inject } from 'nuxt-property-decorator'

@Component({})
export default class Confirmation extends Vue {
  @Prop()
  response!: any
}
</script>
<style lang="scss"></style>
