<template>
  <div class="eventdate" :class="'eventdate--' + status">
    <h3 class="eventdate__date">
      {{ $moment(date.date).format('ddd D MMM YYYY') }}
      <span class="eventdate__hour">
        {{ $moment(date.date).format('HH:mm') }}
      </span>
    </h3>
    <div class="eventdate__available" v-if="!disabled">
      <span>Places restantes:</span>
      <span>{{ available }} </span>
    </div>
    <div class="eventdate__disabled error--text" v-if="disabled">
      Inscription fermée
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop, Inject } from 'nuxt-property-decorator'
import { EventItemInterface, EventDateInterface } from '@shared/interfaces'
@Component({})
export default class EventDateComponent extends Vue {
  @Prop()
  date!: EventDateInterface
  @Prop()
  disabled!: boolean

  @Inject('event')
  event!: any
  get status() {
    if (new Date(this.date.date) < new Date()) {
      return 'ended'
    } else {
      return this.date.status
    }
  }
  get available() {
    return this.event.capacity - this.date.sold
  }
}
</script>
<style lang="scss">
.eventdate {
  &__date {
    font-weight: $weight-bold;
  }
  &__hour {
    display: block;
    font-weight: $weight-normal;
  }
  &--cancel,
  &--ended {
    .eventdate__date,
    .eventdate__hour {
      text-decoration: line-through;
    }
  }
}
</style>
