<template>
  <select-blocks class="event-date-selector" v-model="model" :items="orderedDates" :is-disabled="isDisabled">
    <template slot="block" slot-scope="{ item, disabled }">
      <event-date :date="item" :disabled="disabled" />
    </template>
  </select-blocks>
</template>
<script lang="ts">
import { Component, Vue, Prop, Inject, Watch } from 'nuxt-property-decorator'
import SelectBlocks from '@/components/core/field/SelectBlocks.vue'
import { EventItemInterface, EventDateInterface } from '@shared/interfaces'
import EventDate from '@/components/events/full/BuyTicket/EventDate.vue'

@Component({ components: { SelectBlocks, EventDate } })
export default class EventDateSelector extends Vue {
  @Prop({ required: true })
  value!: number

  @Prop({ required: true })
  items!: Array<any>

  @Inject('event')
  event!: any

  model = this.value

  get orderedDates() {
    return this.items.sort((a: EventDateInterface, b: EventDateInterface) => {
      return new Date(a.date).getTime() - new Date(b.date).getTime()
    })
  }
  mounted() {
    this.defineDefaultSelected()
  }

  defineDefaultSelected() {
    this.items.forEach((item, idx) => {
      if (this.model === null && !this.isDisabled(item)) {
        this.model = idx
      }
    })
  }

  @Watch('value')
  updateModel() {
    this.model = this.value
  }
  @Watch('model')
  updateValue() {
    this.$emit('input', this.model)
  }

  isDisabled(date: EventDateInterface) {
    if (this.event.capacity - date.sold <= 0) {
      return true
    } else if (date.status !== 'open') {
      return true
    } else if (new Date(date.date) < new Date()) {
      return true
    } else {
      return false
    }
  }
}
</script>
<style lang="scss"></style>
