<template>
  <div class="order-recap">
    <typography markup="h3" size="h3" underline>
      Récapitulatif de commande
    </typography>
    <typography markup="h4" size="h4" class="order-recap__event-title">
      {{ event.title }}
    </typography>
    <ul v-if="event.dates[selectedDate]">
      <li>
        <v-icon color="white">mdi-calendar</v-icon>
        {{ $moment(eventDate).format('ddd D MMM YYYY') }}
      </li>
      <li>
        <v-icon color="white">mdi-clock-outline</v-icon>
        {{ $moment(eventDate).format('HH:mm') }}
      </li>
      <fragment v-for="price in event.pricings" :key="price.id">
        <li v-if="price.quantity">
          <v-icon color="white">mdi-ticket-confirmation-outline</v-icon>
          {{ price.quantity }}x {{ price.title }} <small>({{ price.price }} CHF)</small>
        </li>
      </fragment>
      <li class="order-recap__total">
        <typography size="h5"> Total: {{ total }} CHF </typography>
      </li>
    </ul>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Inject, Prop } from 'nuxt-property-decorator'
import { EventItemInterface } from '@shared/interfaces'
import { getTotal } from './BuyTicketHelpers'

@Component({})
export default class OrderRecap extends Vue {
  @Inject('event') event!: EventItemInterface
  @Prop() selectedDate!: number | null
  get total() {
    return getTotal(this.event.pricings)
  }
  get eventDate() {
    if (this.selectedDate !== null) {
      return this.event.dates[this.selectedDate].date
    } else {
      return null
    }
  }
}
</script>
<style lang="scss">
.order-recap {
  @include styled-background();
  color: $white;
  border-radius: $box-radius;
  box-shadow: $box-shadow;
  padding: 24px;
  margin-bottom: 24px;
  .v-icon {
    font-size: 20px;
  }
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    li + li {
      margin-top: 4px;
      &.order-recap__total {
        margin-top: 24px;
      }
    }
  }
  &__event-title {
    margin-top: 24px;
    margin-bottom: 8px;
  }
}
</style>
