<template>
  <v-row>
    <v-col cols="12" md="8">
      <div class="pricings">
        <div class="princings__item">
          <div class="pricing" v-for="pricing in value">
            <div class="pricing__info">
              <div class="title is-5">
                {{ pricing.title }}
              </div>
              <div class="subtitle is-5">{{ pricing.price }} CHF</div>
            </div>
            <div class="pricing__qty">
              <QuantityField v-model="pricing.quantity" />
            </div>
          </div>
        </div>
      </div>
    </v-col>
    <v-col cols="12" md="4">
      <order-recap :selected-date="selectedDate" />
    </v-col>
  </v-row>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import OrderRecap from './OrderRecap.vue'
@Component({ components: { OrderRecap } })
export default class PricingSelector extends Vue {
  @Prop({ required: true })
  value!: Array<any>

  @Prop() selectedDate!: number | null
}
</script>
<style lang="scss">
.pricing {
  @include breakpoint(sm-min) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  text-align: left;
  margin: auto;
  border-bottom: 1px solid $white-ter;
  padding: 20px 0;
  &:last-child {
    border-bottom: none;
  }
  &__info {
    margin-right: 1em;
    @include breakpoint(xs-max) {
      text-align: center;
      margin-bottom: 16px;
    }
  }
}
</style>
