<template>
  <div>
    <dashboard-title>
      Billets
    </dashboard-title>
    <client-only>
      <v-data-table
        :headers="headers"
        :items="tickets"
        :items-per-page="15"
        class="elevation-1"
        :loading="loading"
        loading-text="Chargement... Veuillez patienter"
      >
        <template v-slot:item.firstname="{ item }"> {{ item.firstName }} {{ item.lastName }} </template>
        <template v-slot:item.date="{ item }">
          {{ $moment(item.eventDate.date).format('DD-MM-YYYY HH:mm') }}
        </template>
        <template v-slot:item.createdAt="{ item }">
          {{ $moment(item.createdAt).format('DD-MM-YYYY HH:mm:ss') }}
        </template>
        <template v-slot:item.actions="{ item }">
          <v-btn icon color="primary" @click="downloadItem(item)">
            <v-icon dark>mdi-download</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </client-only>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import DashboardTitle from '@/components/dashboard/DashboardTitle.vue'
@Component({
  layout: 'dashboard',
  components: { DashboardTitle }
})
export default class ListTicket extends Vue {
  head() {
    return {
      title: 'Tickets | Majentus'
    }
  }
  tickets: any[] = []
  loading: boolean = true
  headers = [
    {
      text: 'id',
      align: 'start',
      sortable: true,
      value: 'id'
    },
    {
      text: 'Email',
      align: 'start',
      sortable: true,
      value: 'email'
    },
    {
      text: 'Acheteur',
      align: 'start',
      sortable: true,
      value: 'firstname'
    },
    {
      text: 'Evénement',
      align: 'start',
      sortable: true,
      value: 'eventDate.event.title'
    },
    {
      text: 'Date',
      align: 'start',
      sortable: true,
      value: 'date'
    },
    {
      text: "Date d'achat",
      align: 'start',
      sortable: true,
      value: 'createdAt'
    },
    { text: 'Actions', value: 'actions', sortable: false }
  ]
  editItem(item: any) {}
  deleteItem(item: any) {}
  async downloadItem(item: any) {
    const url = process.env.NUXT_BACK_URL + '/printer/ticket/' + item.id + '/ticket.pdf'
    this.$mj.download(url)
  }
  mounted() {
    this.fetchTickets()
  }
  async fetchTickets() {
    this.tickets = await this.$api.ticket.getCurrentSellerTickets()
    this.loading = false
  }
}
</script>
<style lang="scss"></style>
