<template>
  <ticket-form :edit="false" />
</template>
<script lang="ts">
import TicketForm from '@/components/dashboard/ticket/TicketForm.vue'
import { Component, Vue } from 'nuxt-property-decorator'
@Component({
  layout: 'dashboard',
  components: { TicketForm }
})
export default class NewTickets extends Vue {
  head() {
    return {
      title: 'Caisse | Majentus'
    }
  }
}
</script>
<style lang="scss"></style>
