<template>
  <span class="mj-formated-date"> {{ displayDate }} </span>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
@Component({})
export default class DatesFormatter extends Vue {
  @Prop({ required: true })
  date!: Date
  @Prop()
  date2?: Date

  @Prop()
  format?: Date

  get displayDate(): String {
    if (this.date2) {
      return this.displayRangeDate()
    } else {
      return this.$moment(this.date).format('ddd D MMM YYYY HH:mm')
    }
  }
  displayRangeDate() {
    const $start = this.$moment(this.date)
    const $end = this.$moment(this.date2)
    // SameDay
    if ($start.format('YYYYMMDD') === $end.format('YYYYMMDD')) {
      return $start.format('ddd D MMM YYYY')
    }
    // different day same month same year
    if (
      $start.format('DD') !== $end.format('DD') &&
      $start.format('MMYYYY') === $end.format('MMYYYY')
    ) {
      return $start.format('ddd D') + ' au ' + $end.format('ddd D MMM YYYY')
    }
    // different month same year
    if (
      $start.format('MM') !== $end.format('MM') &&
      $start.format('YYYY') === $end.format('YYYY')
    ) {
      return $start.format('ddd D MMM') + ' au ' + $end.format('ddd D MMM YYYY')
    }

    // different year
    return (
      $start.format('ddd D MMM YYYY') + ' au ' + $end.format('ddd D MMM YYYY')
    )
  }
}
</script>
<style lang="scss"></style>
