<template>
  <div class="page-about">
    <section-for-who />
    <section-how-it-work />
    <section-scanner />
    <section-pos />
    <section-statistique />
    <section-integration />
    <section-ask-demo />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import SectionScreenshow from '@/components/sections/SectionScreenshow.vue'
import MjSection from '@/components/core/MjSection.vue'
import SectionHowItWork from '@/components/sections/SectionHowItWork.vue'
import SectionIntegration from '@/components/sections/SectionIntegration.vue'
import SectionScanner from '@/components/sections/SectionScanner.vue'
import SectionPos from '@/components/sections/SectionPos.vue'
import SectionStatistique from '@/components/sections/SectionStatistique.vue'
import SectionForWho from '@/components/sections/SectionForWho.vue'
import SectionAskDemo from '@/components/sections/SectionAskDemo.vue'
@Component({
  layout: 'default',
  components: {
    SectionScreenshow,
    MjSection,
    SectionHowItWork,
    SectionIntegration,
    SectionScanner,
    SectionPos,
    SectionStatistique,
    SectionForWho,
    SectionAskDemo
  }
})
export default class AboutPage extends Vue {}
</script>
<style lang="scss">
.page-about {
}
</style>
