<template>
  <div class="contact-page">
    <v-container>
      <v-row justify="center">
        <v-col cols="12" sm="10" md="8" lg="6">
          <dashboard-title center>Contact</dashboard-title>
          <contact-form />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import ContactForm from '@/components/forms/ContactForm.vue'
@Component({
  components: { ContactForm }
})
export default class ContactPage extends Vue {}
</script>
<style lang="scss">
.contact-page {
  text-align: center;
}
</style>
