<template>
  <div>
    <hero-home />
    <section-pricing />
    <section-features />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import HeroHome from '@/components/hero/HeroHome.vue'
import SectionPricing from '@/components/sections/SectionPricing.vue'
import SectionFeatures from '@/components/sections/SectionFeatures.vue'
@Component({ components: { HeroHome, SectionPricing, SectionFeatures } })
export default class Events extends Vue {
  head() {
    return {
      bodyAttrs: {
        class: 'layout2'
      },
      title: 'Majentus',
      meta: [
        // hid est utilisé comme identifiant unique. N'utilisez pas `vmid` car ça ne fonctionnera pas
        {
          hid: 'description',
          name: 'description',
          content: 'Enfin un moyen simple de vendre en ligne des billets pour vos événements.'
        }
      ]
    }
  }
}
</script>
<style lang="scss"></style>
