<template>
  <v-main id="login-page">
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="4">
          <login-form dark :alert="this.alert">
            <template v-slot:before>
              <div id="login-page__back">
                <v-btn href="/" text color="white">
                  <v-icon left>mdi-arrow-left</v-icon>
                  Retour à l'accueil
                </v-btn>
              </div>
            </template>
          </login-form>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import LoginForm from '@/components/login/LoginForm.vue'
import { Context } from '@nuxt/types'
@Component({
  layout: 'blank',
  components: { LoginForm }
})
export default class LoginPage extends Vue {
  activation: string = ''
  userId: number = 0
  activationCode: string = ''
  alert: LoginAlertInterface | null = null
  async asyncData(context: Context) {
    if (!context.route.query) {
      return {}
    }
    let activation = ''
    const { user, activationCode } = context.route.query
    if (!user || !activationCode) {
      return {}
    }
    const { req, res } = context
    activation = await context.$api.user.activation(String(activationCode), String(user))
    return {
      alert: {
        type: 'activation',
        username: String(user),
        value: activation
      }
    }
  }
  created() {
    if (this.$auth.loggedIn) {
      this.$auth.redirect('dashboard')
    }
  }
  mounted() {
    history.replaceState({}, '', window.location.origin + window.location.pathname)
  }
}
</script>
<style lang="scss">
#login-page {
  @include styled-background();
  &__back {
    margin-bottom: 10px;
  }
}
</style>
