<template>
  <div class="page-pricing">
    <section-pricing></section-pricing>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import SectionPricing from '@/components/sections/SectionPricing.vue'
@Component({
  components: { SectionPricing }
})
export default class PricingPage extends Vue {}
</script>
<style lang="scss"></style>
