<template>
  <div class="register-page">
    <div class="container">
      <dashboard-title>Inscription</dashboard-title>
      <v-alert type="warning">
        Majentus est un service fictif créé dans le cadre d'un travail de bachelor
      </v-alert>
      <register-form />
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import DashboardTitle from '@/components/dashboard/DashboardTitle.vue'
import RegisterForm from '@/components/forms/RegisterForm.vue'
@Component({
  components: { DashboardTitle, RegisterForm }
})
export default class RegisterPage extends Vue {
  created() {
    if (this.$auth.loggedIn) {
      this.$auth.redirect('dashboard')
    }
  }
}
</script>
<style lang="scss"></style>
