<template>
  <div>
    <client-only>
      <ticket-scanner :event-date="eventDate" :authorization="authorization" />
    </client-only>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { EventDateInterface } from '~/../shared/interfaces'
import { Context } from '@nuxt/types'

@Component({
  layout: 'blank',
  components: {
    TicketScanner: () => import('@/components/dashboard/ticket/TicketScanner.vue')
  }
})
export default class ScannerPage extends Vue {
  eventDate?: EventDateInterface
  async asyncData({ app, route }: Context) {
    const { authorization } = route.params
    const eventDate = await app.$api.scan.getAuthorizationEventDate(authorization)
    return {
      eventDate,
      authorization
    }
  }
}
</script>
<style lang="scss"></style>
