<template>
  <div class="container">
    <h1>Styleguide</h1>
    <v-sheet>
      <div class="text-h1">HEADING 1</div>
    </v-sheet>
    <v-sheet>
      <div class="text-h2">HEADING 2</div>
    </v-sheet>
    <v-sheet>
      <div class="text-h3">HEADING 3</div>
    </v-sheet>
    <v-sheet>
      <div class="text-h4">HEADING 4</div>
    </v-sheet>
    <v-sheet>
      <div class="text-h5">HEADING 5</div>
    </v-sheet>
    <v-sheet>
      <div class="text-h6">HEADING 6</div>
    </v-sheet>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
@Component({ components: {} })
export default class Events extends Vue {
  head() {
    return {
      title: 'Styleguide'
    }
  }
}
</script>
<style lang="scss">
</style>
