<template>
  <v-container>
    <dashboard-title>Conditions générales</dashboard-title>
    <p>
      <typography size="caption">Dernière mise à jour: 28 Août 2020</typography>
    </p>
    <p>
      Veuillez lire attentivement ces conditions d'utilisation avant d'utiliser le site Web www.majentus.ch et
      l'application mobile Majentus (ensemble ou individuellement, le «Service») exploité par Majentus Sàrl (" nous ","
      nous "ou" nos ").
    </p>
    <p>
      Votre accès et votre utilisation du Service sont conditionnés par votre acceptation et votre respect des présentes
      Conditions. Ces conditions s'appliquent à tous les visiteurs, utilisateurs et autres qui souhaitent accéder ou
      utiliser le service.
    </p>
    <p>
      En accédant ou en utilisant le Service, vous acceptez d'être lié par ces Conditions. Si vous êtes en désaccord
      avec une partie des conditions, vous n'êtes pas autorisé à accéder au service.
    </p>
    <dashboard-subtitle>
      LES COMMUNICATIONS
    </dashboard-subtitle>
    <p>
      En créant un compte sur notre service, vous acceptez de vous abonner à des newsletters, des supports marketing ou
      promotionnels et à d'autres informations que nous pouvons envoyer. Cependant, vous pouvez refuser de recevoir tout
      ou partie de ces communications de notre part en suivant le lien de désabonnement ou les instructions fournies
      dans tout e-mail que nous envoyons.
    </p>
    <dashboard-subtitle>
      CONTENU
    </dashboard-subtitle>
    <p>
      Notre service vous permet de publier, de lier, de stocker, de partager et de mettre à disposition certaines
      informations, textes, graphiques, vidéos ou autre matériel ("Contenu"). Vous êtes responsable du contenu que vous
      publiez sur ou via le service, y compris sa légalité, sa fiabilité et son caractère approprié.
    </p>
    <p>
      En publiant du contenu sur ou via le service, vous déclarez et garantissez que: (i) le contenu vous appartient
      (vous en êtes propriétaire) et / ou vous avez le droit de l'utiliser et le droit de nous accorder les droits et la
      licence prévus dans ces Conditions, et (ii) que la publication de votre Contenu sur ou via le Service ne viole pas
      les droits de confidentialité, les droits de publicité, les droits d'auteur, les droits contractuels ou tout autre
      droit de toute personne ou entité. Nous nous réservons le droit de résilier le compte de quiconque enfreint un
      droit d'auteur.
    </p>
    <p>
      Vous conservez tous vos droits sur tout Contenu que vous soumettez, publiez ou affichez sur ou via le Service et
      vous êtes responsable de la protection de ces droits. Nous n'assumons aucune responsabilité et n'assumons aucune
      responsabilité pour le contenu que vous ou tout autre tiers publie sur ou via le Service. Cependant, en publiant
      du Contenu à l'aide du Service, vous nous accordez le droit et la licence d'utiliser, de modifier, d'exécuter
      publiquement, d'afficher publiquement, de reproduire et de distribuer ce Contenu sur et via le Service. Vous
      acceptez que cette licence inclut le droit pour nous de rendre votre contenu disponible à d'autres utilisateurs du
      service, qui peuvent également utiliser votre contenu sous réserve des présentes conditions.
    </p>
    <p>
      Majentus Sàrl a le droit mais non l'obligation de surveiller et de modifier tout le contenu fourni par les
      utilisateurs. En outre, le contenu trouvé sur ou via ce service est la propriété d'Majentus Sàrl ou est utilisé
      avec autorisation. Vous ne pouvez pas distribuer, modifier, transmettre, réutiliser, télécharger, republier,
      copier ou utiliser ledit contenu, que ce soit en tout ou en partie, à des fins commerciales ou pour un gain
      personnel, sans autorisation écrite expresse de notre part.
    </p>
    <dashboard-subtitle>
      COMPTES
    </dashboard-subtitle>
    <p>
      Lorsque vous créez un compte chez nous, vous garantissez que vous avez plus de 18 ans et que les informations que
      vous nous fournissez sont exactes, complètes et à jour à tout moment. Des informations inexactes, incomplètes ou
      obsolètes peuvent entraîner la résiliation immédiate de votre compte sur le Service.
    </p>
    <p>
      Vous êtes responsable du maintien de la confidentialité de votre compte et de votre mot de passe, y compris, mais
      sans s'y limiter, la restriction d'accès à votre ordinateur et / ou compte. Vous acceptez d'accepter la
      responsabilité de toutes les activités ou actions qui se produisent sous votre compte et / ou mot de passe, que
      votre mot de passe soit avec notre service ou un service tiers. Vous devez nous informer immédiatement dès que
      vous avez connaissance d'une violation de la sécurité ou d'une utilisation non autorisée de votre compte. Vous ne
      pouvez pas utiliser comme nom d'utilisateur le nom d'une autre personne ou entité ou qui n'est pas légalement
      disponible pour une utilisation, un nom ou une marque qui est soumis à des droits d'une autre personne ou entité
      autre que vous, sans autorisation appropriée. Vous ne pouvez utiliser comme nom d'utilisateur aucun nom offensant,
      vulgaire ou obscène.
    </p>
    <p>
      Nous nous réservons le droit de refuser le service, de résilier les comptes, de supprimer ou de modifier le
      contenu à notre seule discrétion.
    </p>
    <dashboard-subtitle>
      PROPRIÉTÉ INTELLECTUELLE
    </dashboard-subtitle>
    <p>
      Le Service et son contenu original (à l'exclusion du Contenu fourni par les utilisateurs), ses caractéristiques et
      ses fonctionnalités sont et resteront la propriété exclusive d'Majentus Sàrl et de ses concédants de licence. Le
      Service est protégé par les droits d'auteur, les marques de commerce et autres lois des États-Unis et des pays
      étrangers. Nos marques déposées et habillages commerciaux ne peuvent être utilisés en relation avec aucun produit
      ou service sans le consentement écrit préalable d'Majentus Sàrl.
    </p>
    <dashboard-subtitle>
      LIENS VERS D'AUTRES SITES WEB
    </dashboard-subtitle>
    <p>
      Notre service peut contenir des liens vers des sites Web tiers ou des services qui ne sont pas détenus ou
      contrôlés par Majentus Sàrl. Majentus Sàrl n'a aucun contrôle sur, et n'assume aucune responsabilité pour le
      contenu, les politiques de confidentialité ou les pratiques de tout site Web ou service tiers. Nous ne
      garantissons pas les offres de l'une de ces entités / individus ou de leurs sites Web. Vous reconnaissez et
      acceptez que Majentus Sàrl ne sera pas responsable, directement ou indirectement, de tout dommage ou perte causé
      ou prétendument causé par ou en relation avec l'utilisation ou la confiance en ces contenus, biens ou services
      disponibles sur ou via ces sites Web ou services tiers.
    </p>
    <p>
      Nous vous conseillons vivement de lire les termes et conditions et les politiques de confidentialité de tous les
      sites Web ou services tiers que vous visitez.
    </p>
    <dashboard-subtitle>
      RÉSILIATION
    </dashboard-subtitle>
    <p>
      Nous pouvons résilier ou suspendre votre compte et interdire l'accès au Service immédiatement, sans préavis ni
      responsabilité, à notre seule discrétion, pour quelque raison que ce soit et sans limitation, y compris, mais sans
      s'y limiter, une violation des Conditions. Si vous souhaitez résilier votre compte, vous pouvez simplement cesser
      d'utiliser le Service.
    </p>
    <p>
      Toutes les dispositions des Conditions qui, de par leur nature, devraient survivre à la résiliation survivront à
      la résiliation, y compris, sans limitation, les dispositions sur la propriété, les exclusions de garantie,
      l'indemnisation et les limitations de responsabilité.
    </p>
    <dashboard-subtitle>
      INDEMNITÉ
    </dashboard-subtitle>
    <p>
      Vous acceptez de défendre, d'indemniser et de dégager de toute responsabilité Majentus Sàrl et ses licenciés et
      concédants de licence, ainsi que leurs employés, sous-traitants, agents, dirigeants et administrateurs, contre et
      contre toutes les réclamations, dommages, obligations, pertes, responsabilités, coûts ou dettes, et les dépenses
      (y compris, mais sans s'y limiter, les honoraires d'avocat), résultant ou découlant de a) votre utilisation et
      votre accès au Service, par vous ou par toute personne utilisant votre compte et votre mot de passe; b) une
      violation de ces conditions, ou c) un contenu publié sur le service.
    </p>
    <dashboard-subtitle>
      LIMITATION DE RESPONSABILITÉ
    </dashboard-subtitle>
    <p>
      En aucun cas Majentus Sàrl, ni ses administrateurs, employés, partenaires, agents, fournisseurs ou sociétés
      affiliées, ne pourront être tenus responsables de dommages indirects, accessoires, spéciaux, consécutifs ou
      punitifs, y compris, sans s'y limiter, la perte de bénéfices, de données, d'utilisation, le goodwill, ou d'autres
      pertes intangibles, résultant (i) de votre accès ou de votre utilisation ou de votre incapacité à accéder ou à
      utiliser le Service; (ii) tout comportement ou contenu d'un tiers sur le Service; (iii) tout contenu obtenu à
      partir du Service; et (iv) l'accès non autorisé, l'utilisation ou la modification de vos transmissions ou de votre
      contenu, que ce soit sur la base d'une garantie, d'un contrat, d'un délit (y compris la négligence) ou de toute
      autre théorie juridique, que nous ayons été informés ou non de la possibilité d'un tel dommage, et même s'il
      s'avère qu'un remède énoncé dans les présentes n'a pas atteint son objectif essentiel.
    </p>
    <dashboard-subtitle>
      AVERTISSEMENT
    </dashboard-subtitle>
    <p>
      Votre utilisation du Service est à vos risques et périls. Le Service est fourni «TEL QUEL» et «TEL QUE
      DISPONIBLE». Le Service est fourni sans garantie d'aucune sorte, expresse ou implicite, y compris, mais sans s'y
      limiter, les garanties implicites de qualité marchande, d'adéquation à un usage particulier, de non-contrefaçon ou
      de cours de performance.
    </p>
    <p>
      Majentus Sàrl, ses filiales, sociétés affiliées et ses concédants de licence ne garantissent pas que a) le Service
      fonctionnera de manière ininterrompue, sécurisée ou disponible à un moment ou à un endroit particulier; b) toute
      erreur ou défaut sera corrigé; c) le Service est exempt de virus ou d'autres composants nuisibles; ou d) les
      résultats de l'utilisation du Service répondront à vos exigences.
    </p>
    <dashboard-subtitle>
      EXCLUSIONS
    </dashboard-subtitle>
    <p>
      Certaines juridictions n'autorisent pas l'exclusion de certaines garanties ou l'exclusion ou la limitation de
      responsabilité pour les dommages indirects ou accessoires, de sorte que les limitations ci-dessus peuvent ne pas
      s'appliquer à vous.
    </p>
    <dashboard-subtitle>
      LOI APPLICABLE
    </dashboard-subtitle>
    <p>
      Ces Conditions seront régies et interprétées conformément aux lois de Californie, États-Unis, sans égard à ses
      dispositions relatives aux conflits de lois.
    </p>
    <p>
      Notre incapacité à appliquer un droit ou une disposition de ces Conditions ne sera pas considéré comme une
      renonciation à ces droits. Si une disposition de ces Conditions est jugée invalide ou inapplicable par un
      tribunal, les dispositions restantes de ces Conditions resteront en vigueur. Ces conditions constituent
      l'intégralité de l'accord entre nous concernant notre service, et remplacent et remplacent tout accord antérieur
      que nous aurions pu avoir entre nous concernant le service.
    </p>
    <dashboard-subtitle>
      CHANGEMENTS
    </dashboard-subtitle>
    <p>
      Nous nous réservons le droit, à notre seule discrétion, de modifier ou de remplacer ces Conditions à tout moment.
      Si une révision est importante, nous vous fournirons un préavis d'au moins 30 jours avant l'entrée en vigueur de
      toute nouvelle condition. Ce qui constitue un changement important sera déterminé à notre seule discrétion.
    </p>
    <p>
      En continuant à accéder ou à utiliser notre service après l'entrée en vigueur de toute révision, vous acceptez
      d'être lié par les conditions révisées. Si vous n'acceptez pas les nouvelles conditions, vous n'êtes plus autorisé
      à utiliser le Service.
    </p>
    <dashboard-subtitle>
      NOUS CONTACTER
    </dashboard-subtitle>
    <p>
      Si vous avez des questions sur ces conditions, veuillez nous contacter à hello@majentus.ch.
    </p>
  </v-container>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
@Component({})
export default class TermsAndCondition extends Vue {}
</script>
<style lang="scss"></style>
