<template>
  <div class="test">
    <api-tester />
    <v-icon>mdi-home</v-icon>
    <v-btn>TEST</v-btn>
    <v-text-field color="success"></v-text-field>
    <QuantityField v-model="qty" />
  </div>
</template>

<script lang="ts">
import ApiTester from '@/components/ApiTester.vue'
import { Component, Vue } from 'nuxt-property-decorator'
@Component({ components: { ApiTester } })
export default class Test extends Vue {
  qty: number = 1
}
</script>
