<template></template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { Context } from '@nuxt/types'
@Component({
  layout: 'blank'
})
export default class ValideEmailChangePage extends Vue {
  success: boolean = false

  async asyncData(context: Context) {
    if (!context.route.query) {
      return {
        success: false
      }
    }
    const { id, token } = context.route.query
    if (!id || !token) {
      return {
        success: false
      }
    }

    const { req, res } = context
    try {
      await context.$api.user.validateChangeEmail(Number(id), String(token))
      return {
        success: true
      }
    } catch (e) {
      return {
        success: false
      }
    }
  }
  mounted() {
    if (!this.success) {
      this.$mj.openSnackbar('Erreur lors de la validation de votre adresse email', 'error')

      this.$router.replace({ name: 'login' })
    } else {
      this.$nextTick(() => {
        setTimeout(() => {
          this.$mj.openSnackbar("Changement d'adresse email validé")
        }, 500)
      })
      if (this.$auth.loggedIn) {
        this.$router.replace({ name: 'dashboardAccount' })
      } else {
        this.$router.replace({ name: 'login' })
      }
    }
  }
}
</script>
<style lang="scss"></style>
