<template>
  <v-card :elevation="1" class="mj-form mj-form--modal">
    <v-form ref="form">
      <text-field v-model="model.title" label="Titre" required></text-field>
      <number-field v-model="model.price" label="Prix" required /></text-field>
      <div class="mj-form__actions">
        <v-btn @click="$emit('cancel')" required>Annuler</v-btn>
        <v-btn @click="save" color="primary">Valider</v-btn>
      </div>
    </v-form>
  </v-card>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'nuxt-property-decorator'
import {
  UpdatePricingRequest,
  NewPricingRequest,
  PricingFormItem,
  EventItemInterface
} from '~/../shared/interfaces'
@Component({})
export default class EventPricingsFormItem extends Vue {
  @Prop() value!: UpdatePricingRequest | NewPricingRequest
  model: PricingFormItem = {}

  @Prop()
  isOpen!: boolean

  $refs!: {
    form: any
  }
  @Prop() event!: EventItemInterface

  created() {
    this.setModel()
  }
  @Watch('value')
  @Watch('isOpen')
  setModel() {
    this.model = Object.assign({}, this.value ? this.value : {})
  }
  save() {
    const success = this.$refs.form.validate()
    if (!success) {
      return
    }
    if (this.model.id) {
      this.$emit('update', this.model)
    } else {
      this.$emit('save', {
        eventId: this.event.id,
        title: this.model.title,
        price: this.model.price
      })
    }
  }
}
</script>
<style lang="scss">
</style>
