<template>
  <v-row class="event-integration">
    <v-col cols="12" md="3">
      <v-color-picker class="ma-2" v-model="color" :swatches="swatches" show-swatches></v-color-picker>
      <v-switch class="mx-2" label="Theme sombre" v-model="isDark"></v-switch>
      <v-switch class="mx-2" label="Dégradé" v-model="gradient"></v-switch>
    </v-col>
    <v-col cols="12" md="9">
      <v-textarea outlined label="Code d'intégration" readonly :value="inputValue" />
      <dashboard-subtitle>Aperçu</dashboard-subtitle>
      <event-iframe v-if="event" :theme="theme" :color="color" :event="event" :gradient="gradient" />
    </v-col>
  </v-row>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import { EventItemInterface } from '@shared/interfaces'
import EventIframe from '@/components/events/EventIframe.vue'
@Component({
  components: { EventIframe }
})
export default class EventIntegration extends Vue {
  @Prop()
  event!: EventItemInterface
  get theme(): 'dark' | 'light' {
    return this.isDark ? 'dark' : 'light'
  }
  color: string = '#9733ee'
  isDark = false
  gradient = true
  swatches = [['#9733ee'], ['#FF0000'], ['#34d234'], ['#00FFFF'], ['#3d5bda']]
  get inputValue() {
    const color = this.color.substring(1)
    // use variabel for script start and end to getting around vue compilation bug with script tag
    const scriptStart = "<script type='text/javascript'>"
    const scriptEnd = '</' + 'script>'
    return `<iframe src="${process.env.NUXT_BASE_URL}/iframe/${this.event.id}/?color=${color}&theme=${this.theme}&gradient=${this.gradient}" frameborder="0" width="100%" scrolling="no" id="majentus-iframe"></iframe>
${scriptStart}
// Listen for messages sent from the iFrame
var eventMethod = window.addEventListener ? 'addEventListener' : 'attachEvent'
var eventer = window[eventMethod]
var messageEvent = eventMethod == 'attachEvent' ? 'onmessage' : 'message'
eventer(
  messageEvent,
  function(e) {
    // If the message is a resize frame request
    if (e.data.indexOf('resize::') != -1) {
      var height = e.data.replace('resize::', '')
      document.getElementById('majentus-iframe').style.height = height + 'px'
    }
  },
  false
)
${scriptEnd}
    `
  }
}
</script>
<style lang="scss"></style>
