<template>
  <div class="mj-form">
    <div class="mj-form__actions">
      <v-btn @click="addItem" color="primary" outlined="">
        <v-icon left>mdi-plus</v-icon>
        Ajouter un tarif
      </v-btn>
    </div>
    <v-data-table :headers="headers" :items="event ? event.pricings : []" class="elevation-1" :loading="isLoading">
      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon small @click="askDeleteItem(item)">
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>

    <confirm-dialog v-model="removeDialog" :item="deletedItem" @confirm="(deletedItem) => deleteItem(deletedItem)">
      Êtes-vous sure de vouloir supprimer cette date ?
    </confirm-dialog>

    <v-dialog v-model="showForm" max-width="500px" persistent>
      <event-pricings-form-item
        v-model="editedItem"
        :is-open="showForm"
        :event="event"
        @save="save"
        @update="update"
        @cancel="() => (showForm = false)"
      />
    </v-dialog>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'nuxt-property-decorator'
import { EventItemInterface, UpdatePricingRequest, NewPricingRequest, PricingFormItem } from '@shared/interfaces'
import { PricingItemInterface } from '@shared/interfaces/PricingInterface'
import ConfirmDialog from '@/components/core/ConfirmDialog.vue'
import EventPricingsFormItem from '@/components/dashboard/event/EventPricingsFormItem.vue'

@Component({ components: { ConfirmDialog, EventPricingsFormItem } })
export default class EventPricingsForm extends Vue {
  @Prop({ default: null })
  event!: EventItemInterface | null

  pricings: PricingFormItem[] = []

  loading: boolean = false
  removeDialog: boolean = false
  deletedItem: PricingFormItem = {}
  showForm: boolean = false

  editedItem: PricingFormItem | null = null

  headers: VuetifyDataTableHeader[] = [
    {
      text: 'Titre',
      align: 'start',
      sortable: false,
      value: 'title'
    },
    {
      text: 'Prix',
      align: 'start',
      sortable: false,
      value: 'price'
    },
    {
      text: 'Actions',
      align: 'start',
      sortable: false,
      value: 'actions'
    }
  ]
  get isLoading() {
    return !!(this.loading || !this.event)
  }

  created() {
    this.initPricings()
  }

  @Watch('event')
  initPricings() {
    if (!this.event) {
      return
    }
    this.pricings = []
    this.event.pricings.forEach((pricing) => {
      this.pricings.push({
        id: pricing.id,
        title: pricing.title,
        price: pricing.price
      })
    })
    this.loading = false
  }

  addItem() {
    this.showForm = true
    this.editedItem = null
  }
  askDeleteItem(item: UpdatePricingRequest) {
    this.deletedItem = item
    this.removeDialog = true
  }
  async deleteItem(item: UpdatePricingRequest) {
    this.loading = true
    try {
      await this.$api.event.deletePricing(item.id)
      this.loading = false
      this.openSnackbar('Tarifs supprimé', 'warning')
      this.$emit('reload')
    } catch (e) {
      this.loading = false
      this.openErrorSnackbar(e)
    }
  }
  editItem(item: UpdatePricingRequest) {
    this.editedItem = item
    this.showForm = true
  }

  async save(item: NewPricingRequest) {
    this.loading = true
    try {
      await this.$api.event.addPricing(item)
      this.openSnackbar('Tarif sauvegardé', 'success')
      this.showForm = false
      this.$emit('reload')
    } catch (e) {
      this.openErrorSnackbar(e)
    }
    this.loading = false
  }
  async update(item: UpdatePricingRequest) {
    this.loading = true
    try {
      await this.$api.event.updatePricing(item)
      this.openSnackbar('Tarif sauvegardé', 'success')
      this.showForm = false
      this.$emit('reload')
    } catch (e) {
      this.openErrorSnackbar(e)
    }
    this.loading = false
  }
  openSnackbar(content: string, color: SnackbarColor) {
    this.$mj.openSnackbar(content, color)
  }
  openErrorSnackbar(e: any) {
    this.$mj.openErrorSnackbar(e)
  }
}
</script>
<style lang="scss"></style>
