<template>
  <div class="event-media">
    <image-field label="image" v-model="image" @change="onChange"></image-field>

    <v-snackbar v-model="snackbar" color="success" :timeout="3000" :right="true" :top="true">
      Image sauvegardée
    </v-snackbar>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import { MediaItemInterface, EventItemInterface } from '@shared/interfaces'
@Component({})
export default class EventMediaForm extends Vue {
  @Prop({ required: true })
  event!: EventItemInterface

  image: MediaItemInterface | null = this.event.cover

  snackbar: boolean = false
  async onChange(media: MediaItemInterface) {
    const result = await this.$api.event.update({
      id: this.event.id,
      cover: media ? media.id : media
    })
    this.snackbar = true
  }
}
</script>
<style lang="scss">
</style>
