<template>
  <v-app>
    <nuxt />
    <global-snackbar />
  </v-app>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import GlobalSnackbar from '@/components/core/snackbars/GlobalSnackbar.vue'
@Component({ components: { GlobalSnackbar } })
export default class BlankTemplate extends Vue {}
</script>
<style lang="scss">
</style>
