<template>
  <v-app>
    <div class="dashboard">
      <aside class="dashboard__nav">
        <dashboard-navigation />
      </aside>
      <main class="dashboard__content">
        <nuxt />
      </main>
    </div>
    <global-snackbar />
  </v-app>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import DashboardNavigation from '@/components/dashboard/DashboardNavigation.vue'
import MjHeader from '@/components/design/MjHeader.vue'
import GlobalSnackbar from '@/components/core/snackbars/GlobalSnackbar.vue'

@Component({ components: { DashboardNavigation, MjHeader, GlobalSnackbar } })
export default class DashboardLayout extends Vue {}
</script>
<style lang="scss">
.dashboard {
  display: flex;
  width: 100%;
  min-height: 100vh;
  &__nav {
    @include breakpoint(md-min) {
      width: 250px;
    }
    flex-shrink: 0;
  }
  &__content {
    flex-grow: 1;
    padding: 0 32px 32px;
  }
}
</style>
