<template>
  <v-app class="layout-default">
    <portal-target name="app-start"> </portal-target>
    <mj-header />
    <nuxt />
    <global-snackbar />
    <mj-footer />
  </v-app>
</template>
<script lang="ts">
import { Component, Vue, Watch } from 'nuxt-property-decorator'
import { GoToOptions } from 'vuetify/types/services/goto'
import MjHeader from '@/components/design/MjHeader.vue'
import MjFooter from '@/components/design/MjFooter.vue'
import GlobalSnackbar from '@/components/core/snackbars/GlobalSnackbar.vue'

@Component({ components: { MjHeader, GlobalSnackbar, MjFooter } })
export default class Default extends Vue {
  @Watch('$route')
  onUrlChange(newVal: any) {
    window.scrollTo(0, 0)
  }
}
</script>
<style lang="scss"></style>
