<template>
  <v-container class="error-page text-center fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="6">
        <div class="error-page__content">
          <h1 class="error-page__title">
            {{ message.title }}
          </h1>
          <p class="error-page__desc">
            {{ message.desc }}
          </p>
          <p>
            <v-btn @click="refresh()" outlined color="primary" nuxt exact>
              <v-icon left small>mdi-arrow-left</v-icon>
              Rafraichir la page
            </v-btn>
          </p>
          <p>
            <v-btn :to="{ name: 'home' }" outlined color="primary" nuxt exact>
              <v-icon left small>mdi-arrow-left</v-icon>
              Retour à la page d'accueil
            </v-btn>
          </p>
        </div>
      </v-col></v-row
    ></v-container
  >
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
@Component({
  name: 'NuxtError',
  layout: 'blank'
})
export default class NuxtError extends Vue {
  @Prop() error!: any

  static layout({ route }: any) {
    return 'blank'
  }

  mounted() {
    console.error(this.error)
  }
  get message() {
    switch (this.error.statusCode) {
      case 404:
        return {
          title: 'Page introuvable',
          desc:
            'Nous n’avons pas trouvé la page que vous recherchez. Nous vous invitons à essayer à nouveau ou à vous rendre sur la page d’accueil.'
        }
      case 503:
      case 504:
        return {
          title: 'Serveur indisponible',
          desc:
            "Nous n'arrivons pas à atteindre le serveur. Nous vous invitons à essayer à nouveau ou à vous rendre sur la page d’accueil."
        }
      default:
        return {
          title: "Une erreur s'est produite",
          desc: "Désolé pour le désagrément, veuillez essayer de recharger la page ou retourner sur la page d'accueil."
        }
    }
  }
  refresh() {
    window.location.reload()
  }
}
</script>
<style lang="scss">
.error-page {
  @include styled-background();
  color: $white;
}
</style>
