<template>
  <div class="hero-home">
    <img class="hero-home__blob" src="@/assets/svg/blob-home.svg" />
    <div class="container hero-home__container">
      <div class="hero-home__content">
        <h1 class="hero-home__title">
          Vos billets en ligne, tout simplement !
        </h1>
        <p class="hero-home__desc">
          Enfin un moyen simple de vendre en ligne des billets pour vos événements.
        </p>
        <div class="hero-home__action">
          <v-btn outlined rounded x-large color="primary" :to="{name: 'register'}">
            S'inscrire
          </v-btn>
        </div>
      </div>
      <div class="hero-home__illustration">
        <hero-illustration-one :animated="true" />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import HeroIllustrationOne from '@/components/hero/illustrations/HeroIllustrationOne.vue'
import { Component, Vue } from 'nuxt-property-decorator'
@Component({ components: { HeroIllustrationOne } })
export default class HeroHome extends Vue {}
</script>
<style lang="scss">
.hero-home {
  position: relative;
  &__container {
    @include breakpoint(md-min) {
      display: flex;
    }
    position: relative;
    align-items: center;
  }
  &__blob {
    display: none;
    .theme--dark & {
      opacity: 0.1;
    }
    @include breakpoint(md-min) {
      position: absolute;
      display: block;
      bottom: -80px;
      right: 0;
      left: 50%;
      width: 60%;
    }
  }
  &__title {
    font-size: 52px;
    line-height: 58px;
    margin-bottom: 24px;
    @include breakpoint(sm-max) {
      font-size: 39px;
      line-height: 42px;
    }
  }
  &__desc {
    font-size: 20px;
    letter-spacing: 0.08em;
    margin-bottom: 24px;
    @include breakpoint(sm-max) {
      font-size: 17px;
      line-height: 24px;
    }
  }
  &__content {
    @include breakpoint(sm-max) {
      text-align: center;
      padding: 24px;
      margin-top: 64px;
    }
    @include breakpoint(md-min) {
      width: 50%;
    }
  }
  &__illustration {
    @include breakpoint(sm-max) {
      max-width: 500px;
      margin: -5% auto 0;
    }
    @include breakpoint(md-min) {
      position: relative;
      width: 50%;
    }
  }
}
</style>
