<template>
  <v-snackbar
    class="global-snackbar"
    v-model="snackbar.active"
    :color="snackbar.color"
    :timeout="snackbar.timeout"
  >
    <v-btn
      class="global-snackbar__close"
      v-if="snackbar.timeout === -1"
      color="secondary"
      fab
      x-small
      dark
      @click="snackbar.active = false"
    >
      <v-icon>mdi-close</v-icon>
    </v-btn>
    <div v-html="snackbar.content" />
  </v-snackbar>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import MjBus from '@/plugins/helpers/mjbus'
const defaultSnackbar: Snackbar = {
  active: false,
  timeout: 3000,
  color: 'success',
  content: ''
}
@Component({})
export default class GlobalSnackbar extends Vue {
  snackbar: Snackbar = defaultSnackbar
  created() {
    // event emitter is call by this.$mj.openSnackbar()
    MjBus.$on(
      'open-snackbar',
      (content: string, color: SnackbarColor, timeout: number) => {
        this.open(content, color, timeout)
      }
    )
  }
  open(content: string, color: SnackbarColor, timeout: number) {
    this.snackbar = {
      active: true,
      color: color,
      timeout: timeout,
      content: content
    }
  }
}
</script>
<style lang="scss">
.global-snackbar {
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }
}
</style>
