<template>
  <div class="order">
    <v-container>
      <dashboard-title>Télécharger vos billets</dashboard-title>
      <order-downloads :order="order" />
    </v-container>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { OrderResponse, TicketItemInterface } from '~/../shared/interfaces'
import { Context } from '@nuxt/types'
import OrderDownloads from '@/components/order/OrderDownloads.vue'
@Component({
  components: { OrderDownloads }
})
export default class OrderPage extends Vue {
  token: string = ''
  id: number = 0
  async asyncData({ route, $api, app }: Context) {
    try {
      const { id, token } = route.params
      const order = await $api.order.getData(Number(id), token)
      return {
        id: Number(id),
        token,
        order
      }
    } catch (e) {
      app.$mj.handleError(e)
    }
  }
}
</script>
<style lang="scss"></style>
