<template>
  <div>
    <v-alert type="success" v-if="errorName === 'ACTIVATION_SUCCESS'">
      Votre compte à bien été activé
    </v-alert>
    <v-alert type="success" v-if="errorName === 'SEND_ACTIVATION_SUCCESS'">
      Le lien d'activation vous a été envoyé par email, vous devriez le recevoir
      sous peu. Veuillez également vérifier le dossier "spam" de votre boite de
      réception
    </v-alert>

    <v-alert type="error" v-if="errorName === 'ACTIVATION_ERROR'">
      <p>Votre code d'activation n'est pas ou plus valide<br /></p>
      <v-btn outlined small @click="resendActivation()"
        >Recevoir un nouveau code</v-btn
      >
    </v-alert>
    <v-alert type="error" v-if="errorName === 'UNACTIVE_USER'">
      <p>
        Votre compte n'est pas actif, veuillez cliquer sur le lien d'activation
        recu par mail<br />
      </p>
      <v-btn outlined small @click="resendActivation()"
        >Renvoyer l'email d'activation</v-btn
      >
    </v-alert>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'nuxt-property-decorator'
@Component({})
export default class LoginAlert extends Vue {
  @Prop({ required: true }) alert!: LoginAlertInterface
  errorName: string = ''

  get username() {
    return this.alert.username
  }

  created() {
    this.setErrorName()
  }

  @Watch('alert')
  setErrorName() {
    if (!this.alert) {
      return
    }
    if (this.alert.type === 'activation') {
      this.errorName = this.alert.value
    } else if (this.alert.type === 'login') {
      this.errorName = this.alert.value
      if (['INVALID_PASSWORD', 'USER_NOT_FOUND'].includes(this.errorName)) {
        this.$mj.openErrorCodeSnackbar('INVALID_PASSWORD')
      }
    }
  }

  async resendActivation() {
    if (this.username) {
      const response = await this.$api.user.resendActivation(this.username)
      this.errorName = 'SEND_ACTIVATION_SUCCESS'
    } else {
      this.$mj.openErrorCodeSnackbar('UNKNOW_ERROR')
    }
  }
}
</script>
<style lang="scss">
</style>
