<template>
  <div>
    <slot name="before" />
    <login-alert :alert="this.alertData" />
    <div class="loginform">
      <v-form @submit.prevent="login">
        <v-card class="elevation-12">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>Connexion</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-text-field
              label="Nom d'utilisateur"
              name="username"
              v-model="username"
              prepend-icon="mdi-account"
              type="text"
              :error="error"
              outlined
            ></v-text-field>
            <v-text-field
              id="password"
              label="Mot de passe"
              name="password"
              v-model="password"
              prepend-icon="mdi-lock"
              type="password"
              :error="error"
              outlined
            ></v-text-field>
          </v-card-text>
          <v-container>
            <v-card-actions>
              <v-btn text @click="joke = true">Mot de passe oublié ?</v-btn>
              <v-spacer></v-spacer>
              <v-btn type="submit" color="primary" rounded>
                Login
              </v-btn>
            </v-card-actions>
          </v-container>

          <v-snackbar color="error" v-model="joke">
            1password.com
          </v-snackbar>
        </v-card>
      </v-form>
      <p class="loginform__register" dark>
        <typography :color="dark !== false ? 'white' : false" :colorSwitch="false">
          Vous n'avez pas de compte ?<nuxt-link :to="{ name: 'register' }"> Inscrivez-vous !</nuxt-link>
        </typography>
      </p>
    </div>
    <slot name="after" />
  </div>
</template>
<script lang="ts">
import { Component, Vue, Watch, Prop } from 'nuxt-property-decorator'
import LoginAlert from '@/components/login/LoginAlert.vue'

@Component({ components: { LoginAlert } })
export default class LoginForm extends Vue {
  username: string = ''
  password: string = ''
  error: boolean = false
  joke: boolean = false

  @Prop({ default: false })
  dark!: boolean | null

  @Prop({ default: null })
  alert!: LoginAlertInterface | null

  alertData: LoginAlertInterface | null = null

  created() {
    this.watchAlertProp()
  }

  @Watch('alert')
  watchAlertProp() {
    this.alertData = this.alert
  }

  async login() {
    try {
      await this.$auth.logout()

      const login = {
        username: this.username,
        password: this.password
      }
      let response = await this.$auth.loginWith('local', { data: login })

      this.$router.push({ name: 'dashboard' })
    } catch (err) {
      if (err.response) {
        this.alertData = {
          type: 'login',
          value: err.response.data.message,
          username: this.username
        }
      } else {
        this.$mj.openErrorSnackbar(err)
      }

      this.error = true
    }
  }
  @Watch('username')
  @Watch('password')
  disableError() {
    this.error = false
  }
}
</script>
<style lang="scss">
.loginform {
  &__register {
    text-align: center;
    margin-top: 10px;
  }
}
</style>
