@import 'utils/utils.scss';
@import 'globals/form.scss';
@import 'theme/vuetify-override.scss';
@import 'theme/theme-helpers.scss';

.button.is-icon-button {
  padding: 0;
  width: 2.3em;
  height: 2.3em;
  .icon i {
    display: inline-flex;
    font-size: 1.4em;
  }
}

body {
  .v-select.v-select--chips:not(.v-text-field--single-line).v-text-field--box
    .v-select__selections,
  .v-select.v-select--chips:not(.v-text-field--single-line).v-text-field--enclosed
    .v-select__selections {
    min-height: 58px;
  }

  .v-card__title {
    word-break: normal;
  }
}
