.mj-form {
  position: relative;
  &--modal {
    width: 100%;
    padding: 24px;
    .mj-form__actions {
      margin: 0;
    }
  }
  > * {
    transition: opacity 0.3s;
  }
  &--loading {
    > * {
      opacity: 0.5;
    }
    > .mj-form__loading {
      opacity: 1;
    }
  }
  &__loader {
    opacity: 0;
    @include pos(absolute, 0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: opacity 0.3s;
    pointer-events: none;
    .mj-form--loading & {
      pointer-events: all;
      opacity: 1;
    }
  }
  &__actions {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    .v-btn + .v-btn {
      margin-left: 16px;
    }
  }
}
