<template>
  <div class="feature-card">
    <div class="feature-card__icon">
      <v-avatar color="primary" size="48">
        <v-icon color="white">mdi-{{ feature.icon }}</v-icon>
      </v-avatar>
    </div>
    <div class="feature-card__title">
      <typography size="h4">{{ feature.title }}</typography>
    </div>
    <div class="feature-card__desc">
      <typography size="body-2">
        {{ feature.desc }}
      </typography>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'

@Component({})
export default class FeatureCard extends Vue {
  @Prop()
  feature!: FeatureCardProp
}
</script>
<style lang="scss">
.feature-card {
  padding: 24px;
  border-radius: $box-radius;
  box-shadow: $box-shadow;
  transition: all 0.3s;
  &:hover {
    box-shadow: $box-shadow-hover;
    transform: translateY(-5px);
  }
  &__icon {
    margin-bottom: 8px;
  }
}
</style>
