<template>
  <div class="authorization-card">
    <typography size="h4" underline :center="true" content-class="authorization-card__title">
      {{ eventTitle }}
    </typography>
    <typography size="body-1" markup="div" class="authorization-card__date">
      {{ $moment(eventDate).format('DD/MM/YYYY HH:mm') }}
    </typography>
    <v-btn color="primary" :to="{ name: 'scanner', params: { authorization: this.authorization.token } }" rounded>
      <v-icon left small>mdi-qrcode-scan</v-icon>
      Scanner
    </v-btn>
    <v-btn color="primary" @click="qrDialog = true" rounded>
      <v-icon left small>mdi-qrcode-scan</v-icon>
      QR Code
    </v-btn>
    <v-btn @click="deleteAuthorization" fab dark x-small>
      <v-icon>mdi-delete-outline</v-icon>
    </v-btn>

    <v-dialog
      v-model="qrDialog"
      max-width="450"
      :scrollable="false"
      persistent
      content-class="authorization-card__qrcode-modal"
    >
      <v-card>
        <v-card-text>
          {{ scanLink }}
          <qrcode-vue class="authorization-card__qrcode" :value="scanLink" :options="{ width: 200 }" render-as="svg" />
          <v-btn class="authorization-card__qrcode__close" fab dark @click="qrDialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import { ScanAuthorizationInterface } from '@shared/interfaces'
import QrcodeVue from 'qrcode.vue'
@Component({
  components: { QrcodeVue }
})
export default class ScannerAuthorizationCard extends Vue {
  @Prop({ required: true }) authorization!: ScanAuthorizationInterface
  qrDialog: boolean = false
  get scanLink() {
    return process.env.NUXT_BASE_URL + `/scanner/${this.authorization.token}`
  }
  get eventTitle() {
    return this.authorization.eventDate.event!.title
  }

  get eventDate() {
    return this.authorization.eventDate.date
  }
  async deleteAuthorization() {
    await this.$api.scan.deleteDateAuthorization(this.authorization.id)
    this.$emit('delete')
  }
}
</script>
<style lang="scss">
.authorization-card {
  border-radius: $box-radius;
  box-shadow: $box-shadow;
  text-align: center;
  padding: 24px;
  &__title,
  &__date {
    margin-bottom: 20px;
  }
  &__qrcode {
    width: 100%;
    &-modal {
      overflow: visible !important;
    }
    svg {
      width: 100% !important;
      height: auto !important;
      padding: 24px;
    }
    &__close {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
    }
  }
}
</style>
