<template>
  <div>Dead page</div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
@Component({})
export default class extends Vue {}
</script>
<style lang="scss"></style>
