<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="curve-container__curve curve-one"
    viewBox="0 0 1440 68"
    enable-background="new 0 0 1440 68"
  >
    <path
      class="fill-main-background"
      d="m1622.3 1937.7c0 0-410.7 169.1-913.4 75.5-502.7-93.6-977.7 56.3-977.7 56.3v440h1891.1v-571.8"
      :fill="color"
      transform="translate(0-1977)"
    ></path>
  </svg>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
@Component({})
export default class CurveOne extends Vue {
  @Prop({ default: 'currentColor' })
  color!: string
}
</script>
<style lang="scss">
</style>
