<template>
  <span class="mj-svg">
    <curve-one :color="color" v-if="name === 'curve-one'" />
    <curve-two :color="color" v-if="name === 'curve-two'" />
    <svg v-if="name === 'triangle'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 5" preserveAspectRatio="none">
      <polygon :fill="color" points="100 0 100 5 0 5" />
    </svg>
  </span>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import CurveOne from '@/components/core/svg/CurveOne.vue'
import CurveTwo from '@/components/core/svg/CurveTwo.vue'
@Component({
  components: { CurveOne, CurveTwo }
})
export default class InlineSvg extends Vue {
  @Prop()
  name?: string
  @Prop({ default: 'currentColor' })
  color!: string
}
</script>
<style lang="scss"></style>
