<template>
  <div>
    <v-btn @click="downloadZip()">
      <v-icon dark left>mdi-folder-zip-outline</v-icon>
      Tout télécharger
    </v-btn>
    <v-row>
      <v-col cols="12" md="3" v-for="(ticket, index) in order.tickets" :key="ticket.id">
        <div class="order-ticket">
          <div class="order-ticket__title">
            <typography size="h4"> #{{ index + 1 }} {{ ticket.pricing.title }} </typography>
          </div>
          <v-btn @click="downloadPdf(ticket)" outlined color="primary">
            <v-icon dark left>mdi-file-pdf-outline</v-icon>
            Télécharger
          </v-btn>
        </div>
      </v-col>
    </v-row>
    <v-dialog v-model="loading" hide-overlay persistent width="300">
      <v-card color="primary" dark>
        <v-card-text>
          Veuillez patienter
          <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import { TicketItemInterface, OrderResponse } from '@shared/interfaces'
@Component({})
export default class OrderDownloads extends Vue {
  loading: boolean = false
  @Prop() order!: OrderResponse
  get id(): number {
    return this.order.id
  }
  get token(): string {
    return this.order.token
  }
  async downloadPdf(ticket: TicketItemInterface) {
    this.loading = true
    try {
      await this.$api.order.pdf(this.id, ticket.id, this.token)
    } catch (e) {
      this.$mj.openErrorSnackbar(e)
    }
    this.loading = false
  }
  async downloadZip() {
    this.loading = true
    try {
      await this.$api.order.zip(this.id, this.token)
    } catch (e) {
      this.$mj.openErrorSnackbar(e)
    }
    this.loading = false
  }
}
</script>
<style lang="scss">
.order-ticket {
  border: 1px solid $primary;
  border-radius: $box-radius;
  padding: 16px;
  text-align: center;
  &__title {
    margin-bottom: 20px;
  }
}
</style>
