<template>
  <div class="newevent">
    <dashboard-title>Informations générales</dashboard-title>
    <event-form v-if="event" :event="event" :edit="true" @submit="submit" />

    <dashboard-title>Tarifs</dashboard-title>
    <event-pricings-form :event="event" @submit="submit" @reload="fetchEvent" />
    <dashboard-title>Image</dashboard-title>
    <event-media-form v-if="event" :event="event" />

    <dashboard-title>Dates</dashboard-title>
    <event-dates-form v-if="event" :event="event" :edit="true" @submit="submit" @reload="fetchEvent" />
    <v-snackbar v-model="snackbar" color="success" :timeout="3000" :right="true" :top="true">
      Evénement sauvegardée
    </v-snackbar>
    <dashboard-title>Intégration</dashboard-title>
    <event-integration v-if="event" :event="event" />
  </div>
</template>
<script lang="ts">
import { Component, Vue, Provide } from 'nuxt-property-decorator'
import EventMediaForm from '@/components/dashboard/event/EventMedia.vue'
import { NewEventInterface, EventItemInterface, EditEventInterface } from '@shared/interfaces/EventItemInterface'
import EventForm from '@/components/dashboard/EventForm.vue'
import EventDatesForm from '@/components/dashboard/EventDatesForm.vue'
import EventPricingsForm from '@/components/dashboard/event/EventPricingsForm.vue'
import DashboardTitle from '@/components/dashboard/DashboardTitle.vue'
import { Context } from '@nuxt/types'
import EventIntegration from '@/components/dashboard/event/EventIntegration.vue'

@Component({
  components: {
    EventForm,
    EventDatesForm,
    DashboardTitle,
    EventMediaForm,
    EventPricingsForm,
    EventIntegration
  },
  layout: 'dashboard'
})
export default class EditEvent extends Vue {
  @Provide('event') event!: EventItemInterface
  snackbar: boolean = false
  async asyncData({ app, route }: Context) {
    try {
      const event = await app.$api.event.getOne(route.params.id)
      return {
        event
      }
    } catch (e) {
      app.$mj.handleError(e)
    }
  }
  head() {
    return {
      title: `Modifier "${this.event.title}" | Majentus`
    }
  }
  async fetchEvent() {
    try {
      this.event = await this.$api.event.getOne(this.$route.params.id)
    } catch (e) {
      this.$mj.handleError(e)
    }
  }
  async submit(event: EditEventInterface) {
    event.id = Number(this.$route.params.id)
    const response = await this.$api.event.update(event)
    this.snackbar = true
  }
}
</script>
<style lang="scss"></style>
