<template>
  <div>
    <dashboard-title>Événements</dashboard-title>
    <client-only>
      <v-data-table
        :items="events"
        :headers="headers"
        :loading="loading"
        loading-text="Chargement... Veuillez patienter"
      >
        <template v-slot:item.actions="{ item }">
          <v-btn icon color="primary" :to="'/dashboard/event/edit/' + item.id">
            <v-icon dark>mdi-pencil</v-icon>
          </v-btn>
          <v-btn icon color="primary" @click="deleteEvent(item)">
            <v-icon dark>mdi-delete</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </client-only>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { EventItemInterface } from '../../../../shared/interfaces/EventItemInterface'
import DashboardTitle from '@/components/dashboard/DashboardTitle.vue'

@Component({
  layout: 'dashboard',
  components: { DashboardTitle }
})
export default class ListEvent extends Vue {
  events?: EventItemInterface[] = []
  loading: boolean = true
  head() {
    return {
      title: 'Evénements | Majentus'
    }
  }
  headers = [
    {
      text: 'id',
      align: 'start',
      sortable: true,
      value: 'id'
    },
    {
      text: 'Titre',
      align: 'start',
      sortable: true,
      value: 'title'
    },
    {
      text: 'actions',
      align: 'start',
      value: 'actions'
    }
  ]
  mounted() {
    this.fetchEvent()
  }
  async fetchEvent() {
    const events = await this.$api.event.currentUser()
    this.loading = false
    this.events = events
  }
  async deleteEvent(event: EventItemInterface) {
    const confirmation = confirm('are you sure')
    if (!confirmation) return
    const result = await this.$api.event.remove(event.id)
  }
}
</script>
<style lang="scss"></style>
