<template>
  <div class="newevent">
    <dashboard-title>
      Ajouter un événement
    </dashboard-title>
    <event-form :edit="false" @submit="submit" />
    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { NewEventInterface } from '@shared/interfaces/EventItemInterface'
import EventForm from '@/components/dashboard/EventForm.vue'
import DashboardTitle from '@/components/dashboard/DashboardTitle.vue'

@Component({
  components: { EventForm, DashboardTitle },
  layout: 'dashboard'
})
export default class NewEvent extends Vue {
  loading: boolean = false
  async submit(event: NewEventInterface) {
    this.loading = true
    const newEvent = await this.$api.event.create(event)
    this.$router.push({
      name: 'dashboardEditEvent',
      params: { id: String(newEvent.id) }
    })
    this.loading = false
  }
  head() {
    return {
      title: 'Ajouter un événement | Majentus'
    }
  }
}
</script>
<style lang="scss"></style>
