<template>
  <div class="event-iframe">
    <component is="style" v-if="color">
      .v-application .event-iframe .primary{
        background: {{ color }} !important;
        background: linear-gradient(90deg, {{ color }} 0%, {{ secondColor }} 100%) !important;
      }
    </component>
    <buy-ticket :theme="theme" :event="event" />
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import BuyTicket from '@/components/events/full/BuyTicket/BuyTicket.vue'
import { EventItemInterface } from '@shared/interfaces'
import Color from 'color';
@Component({
  components: { BuyTicket }
})
export default class EventIfram extends Vue {
  @Prop() event!: EventItemInterface
  @Prop({ default: 'light' }) theme!: 'dark' | 'light'
  @Prop({default: null}) color!: string | null
  @Prop({default: false}) gradient!: boolean
  get secondColor(){
    if(this.color){
      if(this.gradient){
        const color = Color(this.color).saturate(20).rotate(15);
        if(color.isDark()){
          return color.lighten(0.1)
        }else{
          return color.darken(0.1)
        }
      }else{
        return this.color
      }
    }else{
      return '#9733ee'
    }
  }

}
</script>
<style lang="scss"></style>
