<template>
  <div class="container" id="eventListWrapper">
    <div v-if="!items.length">
      <event-list-skeleton />
    </div>
    <template v-else>
      <div class="event-list">
        <v-row>
          <v-col
            class="event-list__item"
            v-for="eventDate in currentItems"
            :key="'eventdate' + eventDate.id"
            cols="12"
            md="4"
          >
            <event-date-card :event-date="eventDate" />
          </v-col>
        </v-row>
      </div>
      {{ items.length }} - {{ this.current * this.perPage - this.perPage }} /
      {{ this.current * this.perPage - 1 }}
      <v-pagination v-model="current" :length="nbPages" circle @input="scrollUp"> </v-pagination>
    </template>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'nuxt-property-decorator'
import { EventItemInterface, EventDateInterface } from '@shared/interfaces'
import EventDateCard from '@/components/events/teaser/EventDateCard.vue'
import { GoToOptions } from 'vuetify/types/services/goto'
import EventListSkeleton from '@/components/events/EventListSkeleton.vue'
@Component({ components: { EventDateCard, EventListSkeleton } })
export default class EventList extends Vue {
  // PROPS
  @Prop({ default: false })
  pagination?: boolean
  @Prop({ default: 10 })
  perPage!: number

  // DATA
  current: number = 1
  items: Array<EventDateInterface> = []

  // Computed
  get currentItems() {
    const start = this.current * this.perPage - this.perPage
    const end = this.current * this.perPage - 1
    return this.items.slice(start, end)
  }
  get nbPages() {
    return Math.ceil(this.items.length / this.perPage)
  }
  // LIFECYCLE
  mounted() {
    this.fetchEvents()
  }
  // METHODS
  async fetchEvents() {
    const events = await this.$api.eventDate.getUpcommingDates()
    this.items = events
  }
  scrollUp() {
    this.$nextTick(() => {
      const options: GoToOptions = {
        duration: 300,
        offset: 0,
        easing: 'easeInOutCubic'
      }
      this.$vuetify.goTo('#eventListWrapper', options)
    })
  }
}
</script>

<style lang="scss">
.event-list {
  &__item {
    display: flex;
  }
}
</style>
