<template>
  <v-row>
    <v-col v-for="i in 9" :key="'skeleton' + i" cols="12" md="4">
      <v-sheet :elevation="3" class="">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </v-col>
  </v-row>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
@Component({})
export default class EventListSkeleton extends Vue {}
</script>
<style lang="scss"></style>
