<template>
  <div>
    <ul>
      <li>User is Logged ? : {{ $auth.loggedIn }}</li>
      <li v-if="$auth.loggedIn">User email: {{ $auth.$state.user.email }}</li>
    </ul>
    <input type="text" v-model="username" />
    <input type="text" v-model="password" />
    <button @click="loginVuex">Login with vuex</button>
    <button @click="loginAuth">Login with auth module</button>
    <button @click="testRequest">test</button>
    <button @click="logout">logout</button>
    <button @click="currentUserEvent">Get current user event</button>
    {{ $store.state.user }}
    <div>
      <h1>result</h1>
      {{ output }}
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
@Component({})
export default class ApiTester extends Vue {
  private username: string = 'root'
  private password: string = '12345678'
  private output: string = ''
  async loginVuex() {
    const login = {
      username: this.username,
      password: this.password
    }
    const mytest = await this.$store.dispatch('user/login', login)
    console.log(mytest)
  }
  async loginAuth() {
    try {
      const login = {
        username: this.username,
        password: this.password
      }
      let response = await this.$auth.loginWith('local', { data: login })
      console.log('response', response)
    } catch (err) {
      console.log(err)
    }
  }
  async currentUserEvent() {
    try {
      this.output = await this.$api.event.currentUser()
    } catch (e) {
      console.error(e.response)
    }
  }
  async logout() {
    const test = await this.$auth.logout()
    console.log(test)
  }
  async testRequest() {
    try {
      const cho = await this.$api.event.getAll()
      console.log(cho)
      const yo = await this.$axios.get(process.env.NUXT_BACK_URL + 'auth/user')
      console.log(yo)
    } catch (e) {
      console.error(e.response)
    }
  }
  mounted() {}
}
</script>
