<template>
  <div class="qr-scan">
    <div class="qr-scan__snackbars" v-if="alerts.length">
      <v-expand-transition>
        <div v-if="showAlerts">
          <v-alert v-for="(alert, index) in alerts" :key="'a' + index" dense border="left" type="warning">
            {{ alert }}
          </v-alert>
        </div>
      </v-expand-transition>
      <v-btn @click="showAlerts = !showAlerts" icon color="warning">
        <v-icon>{{ iconAlert }}</v-icon>
      </v-btn>
    </div>
    <div class="qr-scan__back">
      <v-btn text small :to="{ name: 'dashboardScanner' }" color="white"
        ><v-icon left>mdi-chevron-left</v-icon> Dashboard</v-btn
      >
    </div>
    <div class="qr-scan__title" :class="{ 'qr-scan__title--invert': resultMessage.display }">
      {{ eventDate.event.title }} {{ $moment(eventDate.date).format('DD/MM/YYYY HH:mm') }}
    </div>
    <div class="qr-scan__camera">
      <div class="qr-scan__camera__square">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <qrcode-stream @decode="onDecode" :camera="camera" :torch="torchActive" @init="onInit">
        <div class="qr-scan__camera__options">
          <v-btn-toggle v-model="cameraOptions" multiple>
            <v-btn :disabled="torchNotSupported">
              <v-icon>mdi-flashlight</v-icon>
            </v-btn>
            <v-btn :disabled="noRearCamera || noFrontCamera">
              <v-icon>mdi-camera-switch</v-icon>
            </v-btn>
          </v-btn-toggle>
        </div>
      </qrcode-stream>
    </div>
    <v-scale-transition>
      <div v-show="resultMessage.display" class="qr-scan__result" :class="'qr-scan__result--' + resultMessage.type">
        <div class="qr-scan__result__content">
          <div class="qr-scan__result__icon">
            <v-icon :color="resultMessage.type" x-large>mdi-{{ resultMessage.icon }}</v-icon>
          </div>
          <h3 class="qr-scan__result__message">
            {{ resultMessage.message }}
          </h3>
          <div v-if="resultMessage.ticket" class="qr-scan__result__ticket">
            <div>Email: {{ resultMessage.ticket.email }}</div>
            <div>Evénement: {{ resultMessage.ticket.eventDate.event.title }}</div>
            <div>Date: {{ $moment(resultMessage.ticket.eventDate.date).format('DD/MM/YYYY HH:mm') }}</div>
          </div>
          <div class="qr-scan__result__data" v-if="resultMessage.data">
            Donnée du QR Code :<br />
            {{ resultMessage.data }}
          </div>
          <v-btn color="primary" @click="closeMessage">
            <v-icon left>mdi-qrcode-scan</v-icon>
            Retour au scanner
          </v-btn>
        </div>
      </div>
    </v-scale-transition>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import { TicketItemInterface, EventDateInterface } from '~/../shared/interfaces'
enum ResultMessageIcons {
  SUCCESS = 'check-circle-outline',
  WARNING = 'alert-circle-check-outline',
  ERROR = 'alert-circle-outline'
}
type ResultMessage = {
  display: boolean
  type: 'warning' | 'success' | 'error'
  icon: ResultMessageIcons
  message: string
  ticket?: TicketItemInterface
  data?: string
}
@Component({})
export default class TicketScanner extends Vue {
  @Prop({ required: true }) authorization!: string
  @Prop({ required: true }) eventDate!: EventDateInterface
  result: any = null
  resultMessage: ResultMessage = {
    display: false,
    type: 'warning',
    icon: ResultMessageIcons.WARNING,
    message: '',
    data: ''
  }
  error: any = null
  dragover: any = false
  scanMode: number = 0
  init: boolean = false
  cameraOptions: number[] = []
  torchNotSupported: boolean = false
  noRearCamera: boolean = false
  noFrontCamera: boolean = false
  showAlerts: boolean = false
  alerts: any[] = []

  get iconAlert() {
    return this.showAlerts ? 'mdi-close-circle' : 'mdi-alert-circle'
  }
  get torchActive() {
    return this.cameraOptions.includes(0)
  }
  get camera() {
    if (this.resultMessage.display) {
      return 'off'
    }
    if (this.noFrontCamera && this.noRearCamera) {
      return 'auto'
    }
    return this.cameraOptions.includes(1) ? 'rear' : 'front'
  }
  async processResult() {
    if (!this.result) {
      return false
    }
    const [ticketToken, ticketID] = this.result.split(' | ')

    if (!ticketToken || !ticketID) {
      this.resultMessage = {
        display: true,
        type: 'error',
        icon: this.getIcon('error'),
        message: 'Ce QR Code ne semble pas provenir de majentus',
        data: this.result
      }
      return
    }
    try {
      const response = await this.$api.ticket.scan(ticketID, ticketToken, this.authorization)
      // const result = this.$api.ticket.scan(ticketID, token)
      this.resultMessage = {
        display: true,
        type: response.type,
        icon: this.getIcon(response.type),
        message: response.message,
        ticket: response.ticket
      }
    } catch (e) {
      this.setErrorResult(e)
    }
  }
  setErrorResult(e: any) {
    let message = 'Erreur lors du scan du ticket, veuillez ré-éssayer'
    switch (e.response.data.message) {
      case 'NOT_ALLOW_TO_SCAN':
        message = "Vous n'etes pas autorisé à scanner ce ticket"
        break
    }
    this.resultMessage = {
      display: true,
      type: 'error',
      icon: this.getIcon('error'),
      message: message
    }
  }

  async onInit(promise: Promise<any>) {
    try {
      const { capabilities } = await promise
      this.torchNotSupported = !capabilities.torch
      this.alerts.push("Votre appareil n'a pas de flash")
    } catch (error) {
      const triedFrontCamera = this.camera === 'front'
      const triedRearCamera = this.camera === 'rear'
      const cameraMissingError = error.name === 'OverconstrainedError'

      if (triedRearCamera && cameraMissingError) {
        this.noRearCamera = true
        this.alerts.push("Votre appareil n'a pas de caméra arrière")
      }
      if (triedFrontCamera && cameraMissingError) {
        this.noFrontCamera = true
        this.alerts.push("Votre appareil n'a pas de caméra frontale")
      }

      if (!this.cameraOptions.includes(1)) {
        this.cameraOptions.push(1)
      }
      if (this.cameraOptions.includes(1) && this.noRearCamera) {
        this.cameraOptions = this.cameraOptions.filter((option) => option !== 1)
      }
    }
  }
  closeMessage() {
    this.resultMessage.display = false
  }
  async onDecode(result: any) {
    this.result = result
    await this.processResult()
  }
  getIcon(type: 'success' | 'error' | 'warning'): ResultMessageIcons {
    if (type === 'success') {
      return ResultMessageIcons.SUCCESS
    } else if (type == 'warning') {
      return ResultMessageIcons.WARNING
    } else {
      return ResultMessageIcons.ERROR
    }
  }

  logErrors(promise: Promise<any>) {
    promise.catch(console.error)
  }

  onDragOver(isDraggingOver: any) {
    this.dragover = isDraggingOver
  }
}
</script>
<style lang="scss">
.qr-scan {
  &__back {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 3;
  }
  &__title {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 22222;
    color: $white;
    &--invert {
      color: $black;
    }
  }
  &__camera {
    @include pos(fixed, 0, 0, 0, 0);
    &__square {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70vw;
      height: 70vw;
      z-index: 10;
      &::before {
        content: $pseudo-content;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 3px;
        background: #8800ff;
        filter: blur(1px);
        animation: scannerLine 1.8s infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
      }
      span {
        width: 5vw;
        height: 5vw;
        position: absolute;
        border-left: 3px solid $white;
        border-top: 3px solid $white;

        &:nth-child(1) {
          right: 0;
          transform: rotateZ(90deg);
        }
        &:nth-child(2) {
          right: 0;
          bottom: 0;
          transform: rotateZ(180deg);
        }
        &:nth-child(3) {
          bottom: 0;
          transform: rotateZ(-90deg);
        }
      }
    }
    &__options {
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 10px;
      z-index: 30;
    }
    .overlay {
      &::before,
      &::after {
        content: '';
        @include pos(absolute, 0, 0, 80vh, 0);
        background: linear-gradient(180deg, rgba($black, 0.8), rgba($black, 0));
        z-index: 2;
      }
      &::after {
        @include pos(absolute, 80vh, 0, 0, 0);
        transform: rotateZ(180deg);
      }
    }
  }
  &__snackbars {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
    z-index: 25;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    > div.v-snack {
      position: relative;
      height: auto;
    }
  }
  &__result {
    @include pos(fixed, 0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background: $white;
    text-align: center;
    &--error {
      color: red;
    }
    &--success {
      color: green;
    }
    &--warning {
      color: orange;
    }
    &__message {
      margin: 20px auto;
    }
    &__ticket,
    &__data {
      color: $black;
      margin-bottom: 16px;
    }
  }
}
@keyframes scannerLine {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
</style>
