<template>
  <div class="ticket-form">
    <dashboard-title>
      Caisse
    </dashboard-title>
    <div class="mj-form" :class="{ 'mj-form--loading': loading }" v-if="!success">
      <v-form ref="form" v-model="valid" :lazy-validation="true" :readonly="loading">
        <div class="mj-form__loader">
          <v-progress-circular indeterminate color="primary" />
        </div>
        <TextField v-model="firstName" label="Prénom" required />
        <TextField v-model="lastName" label="Nom" required />
        <TextField v-model="email" label="email" type="email" required />
        <v-select
          v-model="event"
          :items="events"
          item-text="title"
          item-value="id"
          label="Evénement"
          :rules="rules.required"
          return-object
          outlined
        ></v-select>
        <v-select
          v-if="event"
          v-model="date"
          :items="event.dates"
          item-text="date"
          item-value="id"
          label="Date"
          :rules="rules.required"
          return-object
          outlined
        >
          <template slot="item" slot-scope="{ item }">
            {{ $moment(item.date).format('DD/MM/YYYY HH:mm') }}
          </template>
          <template slot="selection" slot-scope="{ item }">
            {{ $moment(item.date).format('DD/MM/YYYY HH:mm') }}
          </template>
        </v-select>
      </v-form>
      <v-form ref="pricingForm" v-model="pricingFormValid" :lazy-validation="true">
        <div v-if="pricings && date">
          <div class="ticket-form__available">Place restantes: {{ available }}</div>
          <quantity-field
            v-for="pricing in pricings"
            :key="pricing.id"
            :label="pricing.title + ' ' + pricing.price"
            v-model="pricing.quantity"
            :rules="[quantityRule]"
            @input="qtyChange"
          />
        </div>
      </v-form>
      <v-btn color="primary" @click="submit">Envoyer</v-btn>
    </div>
    <div v-else>
      <v-btn text @click="reset">
        <v-icon small left>mdi-arrow-left</v-icon>
        Retour à la caisse
      </v-btn>
      <v-alert type="success">
        Commande enregistré, un mail à été envoyé à {{ this.email }} avec un lien pour télécharger les billets
      </v-alert>
      <order-downloads v-if="order" :order="order" />
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'nuxt-property-decorator'
import { validators as v } from '@/plugins/Validator'

import {
  CreateTicketRequestData,
  PricingRequestData,
  EventItemInterface,
  EventDateInterface,
  PricingItemInterface,
  AddressInterface,
  OrderResponse
} from '@shared/interfaces'
import OrderDownloads from '@/components/order/OrderDownloads.vue'
@Component({
  components: { OrderDownloads }
})
export default class TicketForm extends Vue {
  $refs!: {
    form: any
    pricingForm: any
  }

  @Prop({ default: false })
  edit!: boolean

  event: EventItemInterface | null = null
  date: EventDateInterface | null = null
  events: any = []
  email: string = ''
  firstName: string = ''
  lastName: string = ''
  pricings: PricingRequestData[] = []
  address: AddressInterface = {}
  valid: boolean = false
  pricingFormValid: boolean = false

  rules: any = {
    required: v.rules([v.required])
  }

  loading: boolean = false
  success: boolean = false
  order: OrderResponse | null = null
  reset() {
    this.order = null
    this.lastName = ''
    this.firstName = ''
    this.date = null
    this.success = false
  }
  quantityRule(value: number) {
    if (this.totalQuantity <= 0) {
      return 'Veuillez séléctionner au moins un ticket'
    }
    if (this.totalQuantity > this.available) {
      return 'Pas assez de places disponible'
    }
    return true
  }

  get available() {
    if (this.event && this.date) {
      return this.event.capacity - this.date.sold
    }
    return 0
  }
  get canSubmit() {
    return true
  }
  get totalQuantity() {
    let qty = 0
    this.pricings.forEach((pricing) => {
      qty += Number(pricing.quantity)
    })
    return qty
  }

  @Watch('event')
  onEventChange() {
    this.date = null
  }

  @Watch('date')
  onDateChange() {
    if (this.event) {
      this.pricings = this.event.pricings.map((pricing: any) => {
        return {
          ...pricing,
          quantity: 0
        }
      })
    }
  }
  qtyChange() {
    this.$refs.pricingForm.validate()
  }

  created() {
    this.fetchEvent()
  }
  async fetchEvent() {
    this.events = await this.$api.event.currentUser()
  }

  getData() {
    return {
      firstName: this.firstName,
      lastName: this.lastName,
      email: this.email,
      eventDateId: this.date ? this.date.id : 1,
      pricing: this.pricings,
      address: this.address
    }
  }
  async submit() {
    if (this.validateForm()) {
      this.loading = true
      const result = await this.$api.ticket.create(this.getData())
      this.loading = false
      this.success = true
      this.order = result
    } else {
      console.error('NOT VALID')
    }
  }
  validateForm() {
    const first = this.$refs.form.validate()
    const second = this.$refs.pricingForm.validate()
    return first && second
  }
}
</script>
<style lang="scss">
.ticket-form {
  &__available {
    margin-bottom: 16px;
  }
}
</style>
