<template>
  <div class="contact-form">
    <div class="contact-form__alerts">
      <v-alert v-if="success === true" type="success">
        Nous avons bien reçu votre message, nous vous répondrons dans les plus brefs délai
      </v-alert>
      <v-alert v-if="success === false" type="error">
        Erreur lors de l'envoie d'email, veuillez ré-essayer plus tard
      </v-alert>
    </div>
    <v-form form v-model="valid" :lazy-validation="true" ref="form" @submit.prevent="submit">
      <text-field v-model="name" :rules="rules.name" label="Nom" />
      <email-field v-model="email" :rules="rules.email" label="Email" />
      <v-select v-model="subject" :rules="rules.subject" label="Sujet" outlined :items="subjects" />
      <v-textarea v-model="message" :auto-grow="true" label="Message" :rules="rules.message" outlined> </v-textarea>
      <v-checkbox class="contact-form__copy" v-model="sendCopy" :label="`Recevoir une copie du message`"></v-checkbox>
      <v-btn block :loading="loading" type="submit" color="primary" rounded>Envoyer</v-btn>
    </v-form>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { validators as v } from '@/plugins/Validator'

@Component({})
export default class ContactForm extends Vue {
  $refs!: {
    form: any
    pricingForm: any
  }
  sendCopy: boolean = false
  subjects: string[] = ["Demande d'informations", "Problème lors d'une commande", 'Autre']
  subject: string = this.subjects[0]
  name: string = ''
  email: string = ''
  message: string = ''
  valid: boolean = false
  loading: boolean = false
  success: boolean | null = null
  rules: any = {
    title: v.rules([v.required, v.minLength(3)], 'titre'),
    name: v.rules([v.required]),
    subject: v.rules([v.required]),
    email: v.rules([v.email, v.required]),
    message: v.rules([v.required])
  }
  async submit() {
    const valid = this.$refs.form.validate()
    if (!valid) {
      return false
    }
    this.loading = true
    try {
      const response = await this.$api.contact.send({
        name: this.name,
        email: this.email,
        subject: this.subject,
        message: this.message,
        sendCopy: this.sendCopy
      })
      this.success = response.success
      if (this.success) {
        this.reset()
      }
    } catch (e) {
      this.success = false
    }
    this.loading = false
  }
  reset() {
    this.$refs.form.reset()
    this.$refs.form.resetValidation()
    this.subject = this.subjects[0]
  }
}
</script>
<style lang="scss">
.contact-form {
  &__copy {
    margin-top: 0;
    margin-bottom: 16px;
  }
  &__alerts {
    text-align: left;
  }
}
</style>
