<template>
  <div>
    <div class="register-form">
      <v-form v-model="valid" ref="form" :lazy-validation="true" @submit.prevent="submit">
        <text-field label="Prénom" v-model="firstName" name="prenom" :rules="rules.firstName" required />
        <text-field label="Nom" v-model="lastName" name="nom" :rules="rules.lastName" required />
        <text-field
          label="Nom d'utilisateur"
          v-model="username"
          name="username"
          :rules="rules.username"
          required
          :error-messages="usernameError"
        />
        <email-field label="email" v-model="email" name="email" required :error-messages="emailError" />
        <div class="register-form__passwords">
          <password-field label="Mot de passe" v-model="password" name="email" required />
          <client-only>
            <password v-model="password" :strength-meter-only="true" @score="(score) => (passwordScore = score)" />
          </client-only>
          <password-field
            label="Répéter le mot de passe"
            v-model="passwordRepeat"
            name="email"
            :rules="[passwordRepeatRules]"
            required
          />
        </div>

        <v-checkbox class="register-form__accept" v-model="accept" :rules="rules.accept">
          <template v-slot:label>
            <div>
              J'accepte les
              <a href="/conditions-generales" target="_blank" @click.stop>
                conditions générales
              </a>
            </div>
          </template>
        </v-checkbox>

        <v-btn type="submit" color="primary" :loading="loading" :disabled="!valid" block>
          S'inscrire
        </v-btn>
      </v-form>
      <v-dialog v-model="success" max-width="800px" persistent>
        <v-card>
          <div class="register-form__success">
            <v-icon class="register-form__success__icon" color="success">mdi-email-check-outline</v-icon>
            <typography markup="h2" size="h2">Inscription validée</typography>
            <typography size="body-1">
              Nous venous de vous envoyé
              <strong>un lien de confirmation par email</strong>.<br />
              Veuillez cliquez dessus pour activer votre compte
            </typography>
            <p class="register-form__success__buttons">
              <v-btn outlined color="primary" href="/" nuxt>
                <v-icon left>mdi-arrow-left</v-icon>
                Retour à l'accueil
              </v-btn>
            </p>
          </div>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Watch } from 'nuxt-property-decorator'
import Password from 'vue-password-strength-meter'
import { validators as v } from '@/plugins/Validator'

@Component({ components: { Password } })
export default class RegisterForm extends Vue {
  $refs!: {
    form: any
  }
  passwordScore = 0
  success = false
  accept: boolean = false
  valid: boolean = false
  loading: boolean = false
  firstName: string = ''
  username: string = ''
  lastName: string = ''
  email: string = ''
  password: string = ''
  passwordRepeat: string = ''
  passwordRepeatRules(v: any) {
    if (v === this.password) {
      return true
    }
    return 'Le mot de passe ne correspondent pas.'
  }
  rules = {
    username: v.rules([v.username, v.minLength(4)]),
    firstName: v.rules([v.minLength(2)]),
    lastName: v.rules([v.minLength(2)]),
    accept: v.rules([v.requiredCheck], 'veuillez accepter les conditions générales')
  }

  emailError: string = ''
  usernameError: string = ''
  async checkAvailability() {
    let success = true
    const response = await this.$api.user.availability({
      username: this.username,
      email: this.email
    })
    if (!response.email) {
      this.emailError = 'Cet email est déjà lié à un compte'
      success = false
    }
    if (!response.username) {
      this.usernameError = "Ce nom d'utilisateur n'est pas disponible"
      success = false
    }
    return success
  }
  @Watch('username')
  removeUsernameError() {
    this.usernameError = ''
  }
  @Watch('email')
  removeEmailError() {
    this.emailError = ''
  }

  async submit() {
    const valid = this.$refs.form.validate()
    if (!valid) {
      return false
    }
    this.loading = true
    const availibility = await this.checkAvailability()
    if (availibility && valid) {
      try {
        const response = await this.$api.user.register({
          username: this.username,
          email: this.email,
          firstName: this.firstName,
          lastName: this.lastName,
          password: this.password
        })
        this.success = true
      } catch (e) {
        this.$mj.openErrorSnackbar(e)
      }
    }
    this.loading = false
  }
}
</script>
<style lang="scss">
.register-form {
  &__passwords {
    position: relative;

    .Password {
      position: absolute;
      top: 35px;
      left: 10px;
      max-width: 100%;
      width: calc(100% - 20px);
    }
  }
  &__success {
    padding: 25px;
    text-align: center;
    &__icon {
      font-size: 55px !important;
      border: 2px solid $success;
      border-radius: 200px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 1.6em;
      height: 1.6em;
    }
    &__buttons {
      margin-top: 50px;
    }
  }
  &__accept {
    margin-top: 0;
    margin-bottom: 16px;
  }
}
</style>
