<template>
  <div ref="eventiframe">
    <event-iframe :event="event" :color="color" :theme="theme" :gradient="gradient" />
  </div>
</template>
<script lang="ts">
import { Component, Vue, Provide } from 'nuxt-property-decorator'
import EventIframe from '@/components/events/EventIframe.vue'
import { Context } from '@nuxt/types'
import { EventItemInterface } from '~/../shared/interfaces'
// @ts-ignore
@Component({
  components: { EventIframe },
  layout: 'blank'
})
export default class EventIframePage extends Vue {
  @Provide('event') event!: EventItemInterface
  theme!: string
  $refs!: {
    eventiframe: any
  }
  color!: string
  async asyncData({ app, route, error, $vuetify }: Context) {
    const { theme, color, gradient } = route.query
    if (theme === 'dark') {
      $vuetify.theme.dark = true
    }
    try {
      return {
        color: color ? '#' + color : null,
        theme: theme ? theme : null,
        gradient: gradient === 'true',
        event: await app.$api.event.getOne(route.params.id)
      }
    } catch (e) {
      console.log(e.response)
      app.$mj.handleError(e)
    }
  }
  created() {
    if (this.theme === 'dark') {
      this.$vuetify.theme.dark = true
    }
  }
  mounted() {
    this.iframeResize()
    setInterval(this.iframeResize, 1000)
  }
  iframeResize() {
    // https://stackoverflow.com/a/51082558/2838586
    const height = this.$refs.eventiframe.clientHeight
    parent.postMessage('resize::' + height, '*')
    console.log(height)
  }
}
</script>
<style lang="scss"></style>
