<template>
  <div class="page-events">
    <event-list :pagination="true" />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import EventList from '@/components/events/EventList.vue'
@Component({ components: { EventList } })
export default class Events extends Vue {
  head() {
    return {
      title: 'Evénements | Majentus'
    }
  }
}
</script>
<style lang="scss"></style>
