<template>
  <div class="event-page" v-if="event">
    <background-image class="is-medium is-dark" overlay="dark" :media="event.cover">
      <div class="container">
        <div class="event-page__hero">
          <v-btn class="event-page__back" text dark small :href="'/events'">
            <v-icon small left>mdi-arrow-left</v-icon>
            Retour aux événements
          </v-btn>
          <h1 class="event-page__title">{{ event.title }}</h1>
          <p class="event-page__description">{{ event.description }}</p>
        </div>
      </div>
    </background-image>
    <div class="container  has-text-centered">
      <dashboard-title :center="true">Billetterie</dashboard-title>
      <buy-ticket :event="event" />
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Provide } from 'nuxt-property-decorator'
import { EventItemInterface } from '../../../shared/interfaces/EventItemInterface'
import BackgroundImage from '@/components/core/BackgroundImage.vue'
import BuyTicket from '@/components/events/full/BuyTicket/BuyTicket.vue'
@Component({
  components: { BackgroundImage, BuyTicket }
})
export default class EventPage extends Vue {
  @Provide('event') event!: EventItemInterface
  head() {
    return {
      title: this.event.title + ' | Majentus'
    }
  }
  async asyncData({ app, route, error }: any) {
    try {
      return {
        event: await app.$api.event.getOne(route.params.id)
      }
    } catch (e) {
      app.$mj.handleError(e)
    }
  }

  created() {}
}
</script>
<style lang="scss">
.event-page {
  &__hero {
    min-height: 400px;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  &__title {
    font-size: 42px;
    max-width: 600px;
    line-height: 43px;
    margin-bottom: 10px;
  }
  &__back {
    position: absolute;
    top: 8px;
  }
  &__description {
    white-space: pre-wrap;
  }
}
</style>
