<template>
  <div class="mj-background" :style="background">
    <div class="mj-background__overlay" :class="'mj-background__overlay--' + overlay" />
    <div class="mj-background__content">
      <slot />
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import { MediaItemInterface } from '@shared/interfaces'
@Component({})
export default class BackgroundImage extends Vue {
  @Prop()
  media!: MediaItemInterface

  @Prop({ default: 'none' })
  overlay!: 'none' | 'dark' | 'light' | 'gradient'

  get url() {
    if (this.media) {
      return this.media.path
    } else {
      return 'https://source.unsplash.com/JNuKyKXLh8U/1600x900'
    }
  }
  get background() {
    return { backgroundImage: 'url(' + this.url + ')' }
  }
}
</script>
<style lang="scss">
.mj-background {
  background-size: cover;
  background-position: center;
  position: relative;
  &__overlay {
    content: $pseudo-content;
    @include pos(absolute, 0, 0, 0, 0);
    &--dark {
      background-color: rgba($black, 0.2);
    }
    &--gradient {
      &::before {
        content: $pseudo-content;
        @include pos(absolute, 0, 0, 0, 0);
        background: $primary-gradient;
        mix-blend-mode: color;
        opacity: 0.4;
      }
      &::after {
        content: $pseudo-content;
        @include pos(absolute, 0, 0, 0, 0);
        background-color: rgba($black, 0.2);
      }
    }
  }
  &__content {
    position: relative;
  }
}
</style>
