<template>
  <v-dialog v-model="model" max-width="500px" persistent>
    <v-card>
      <v-card-title class="headline">
        <slot />
      </v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn :color="$mj.color('grey darken-1')" text @click="model = false">
          {{ cancelLabel }}
        </v-btn>
        <v-btn
          :color="$mj.color(confirmColor + ' darken-1')"
          text
          @click="confirm"
        >
          {{ confirmLabel }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
@Component({})
export default class ConfirmDialogComponent extends Vue {
  @Prop() value!: boolean
  @Prop({ default: null }) item!: any
  @Prop({ default: 'Annuler' }) cancelLabel!: string
  @Prop({ default: 'Supprimer' }) confirmLabel!: string
  @Prop({ default: 'red' }) confirmColor!: 'red' | 'green' | 'primary'

  get model() {
    return this.value
  }
  set model(val) {
    this.$emit('input', val)
  }
  confirm() {
    this.$emit('confirm', this.item)
    this.model = false
  }
}
</script>
<style lang="scss"></style>
