<template>
  <figure class="mj-image" :style="style">
    <img :src="url" v-if="!ratio" />
  </figure>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import { MediaItemInterface } from '@shared/interfaces'
@Component({})
export default class extends Vue {
  @Prop()
  media!: MediaItemInterface
  @Prop({ default: null })
  ratio!: number | null
  get url() {
    if (this.media) {
      return this.media.path
    } else {
      return 'https://source.unsplash.com/JNuKyKXLh8U/1600x900'
    }
  }
  get style() {
    if (!this.ratio) return false
    return {
      paddingBottom: 100 / this.ratio + '%',
      backgroundImage: 'url("' + this.url + '")'
    }
  }
}
</script>
<style lang="scss">
.mj-image {
  background-position: center;
  background-size: cover;
}
</style>
