<template>
  <section class="mj-section" :class="'mj-section--' + type">
    <div class="mj-section__curve mj-section__curve--top">
      <inline-svg v-if="isCurved" name="curve-one" color="white" />
      <inline-svg v-else name="triangle" color="white" />
    </div>
    <div class="mj-section__background"></div>
    <div class="mj-section__content">
      <div class="container">
        <v-card elevation="0" class="mj-section__content__slot" dark>
          <slot />
        </v-card>
      </div>
    </div>
    <div class="mj-section__curve mj-section__curve--bottom">
      <inline-svg v-if="isCurved" name="curve-two" color="white" />
      <inline-svg v-else name="triangle" color="white" />
    </div>
  </section>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'

@Component({ components: {} })
export default class MjSection extends Vue {
  @Prop({ default: false }) curved!: boolean
  get isCurved() {
    return this.curved !== false
  }
  get type() {
    return this.isCurved ? 'curved' : 'angle'
  }
}
</script>
<style lang="scss">
.mj-section {
  position: relative;
  padding: 114px 0;
  .dashboard-title {
    margin-top: 0;
  }
  &--angle {
    &::before {
      content: $pseudo-content;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid red;
    }
  }
  &__curve {
    position: absolute;
    width: 100%;
    z-index: 1;
    span,
    svg {
      display: block;
    }
    &--top {
      top: -1px;
      .mj-section--curved & {
        transform: rotate(180deg);
      }
      .mj-section--angle & {
        transform: rotate(180deg) scaleX(-1);
      }
    }
    &--bottom {
      bottom: -1px;
      transform: scaleX(-1);
    }
  }
  &__background {
    @include pos(absolute, 0, 0, 0, 0);
    @include styled-background();
  }
  &__content {
    position: relative;
    &__slot {
      background: transparent !important;
    }
  }
}
</style>
