<template>
  <span class="select-status__option">
    <span class="select-status__dot" :class="color" />
    {{ label }}
  </span>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import { EventStatus } from '../../../shared/interfaces'
import { StatusInterface, statusList } from '@/components/core/StatusLabelData'

@Component({})
export default class StatusLabel extends Vue {
  @Prop({ required: true })
  item!: EventStatus

  status: StatusInterface[] = statusList

  get label() {
    const s = this.status.find((s) => s.value === this.item)
    return s ? s.label : ''
  }
  get color() {
    switch (this.item) {
      case 'open':
        return 'green'
      case 'closed':
      case 'cancel':
        return 'red'
      default:
        return 'grey'
    }
  }
}
</script>
<style lang="scss">
</style>
