<template>
  <component :is="markup" :class="cssClass">
    <slot />
  </component>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import { replaceAll } from '~/inc/helpers'
@Component({})
export default class Typography extends Vue {
  @Prop({ required: false, default: '' })
  color!: string // https://vuetifyjs.com/en/styles/colors/

  @Prop({ default: '' })
  size!: string // https://vuetifyjs.com/en/styles/text-and-typography/

  @Prop({ default: 'span' })
  markup!: 'span' | 'div' | 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6' // https://vuetifyjs.com/en/styles/text-and-typography/

  @Prop({ default: false })
  underline!: boolean | null

  @Prop({ default: true })
  colorSwitch!: boolean // Switch color on dark mode (p.ex grey lighten-1 --> grey darken-1)

  @Prop({ default: false })
  center!: null | boolean

  get isUnderline() {
    return this.underline !== false
  }

  get isCenter() {
    return this.center !== false ? true : false
  }
  get cssClass() {
    const classes = []
    classes.push('typography')
    if (this.isUnderline) {
      classes.push('typography--underline')
    }
    classes.push(this.colorClasses)
    classes.push(this.sizeClasses)
    if (this.isCenter) {
      classes.push('typography--center')
    }
    return classes.join(' ')
  }
  get sizeClasses() {
    return this.size ? 'text-' + this.size : ''
  }
  get colorClasses() {
    // define color;
    // p.ex red--text text--lighten-5
    // view all colors: https://vuetifyjs.com/en/styles/colors/

    let color = ''
    if (this.color && this.color.length) {
      let colors = this.color.split(' ')
      color = colors[0] + '--text'
      if (colors.length > 1) {
        color += ' text--' + colors[1]
      }
    }
    if (!this.colorSwitch) {
      return color
    }
    if (this.$vuetify.theme.dark) {
      color = this.$mj.color(color)
    }
    return color
  }
}
</script>
<style lang="scss">
.typography {
  &--underline {
    display: block;
    &::after {
      content: $pseudo-content;
      display: block;
      width: 70px;
      margin-top: 0.3em;
      background: $primary-gradient;
      height: 3px;
      border-radius: 3px;
    }
  }
  &--center {
    text-align: center;
    display: block;
    &::after {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
</style>
