<template>
  <div class="event-categories" v-if="categories">
    <span
      v-for="(category, idx) in categories"
      class="event-categories__item"
      :key="'ecat-' + category.id + _uid"
    >
      <nuxt-link :to="'/category/' + category.slug">
        {{ category.title
        }}<template v-if="idx + 1 < categories.length">,</template>
      </nuxt-link>
    </span>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
@Component({})
export default class EventCategories extends Vue {
  @Prop()
  categories!: Array<any>
}
</script>
<style lang="scss">
.event-categories {
  &__item a {
    color: $mid-grey;
    text-decoration: none;
  }
}
</style>
