<template>
  <v-card
    class="event-card"
    :class="{ 'event-card--hovered': hovered }"
    :elevation="hovered ? 6 : 3"
    @mouseover="hovered = true"
    @mouseleave="hovered = false"
  >
    <div v-if="event">
      <div class="event-card__image">
        <mj-image :media="event.cover" :ratio="16 / 9" />
      </div>
      <div class="event-card__content">
        <div class="event-card__date">
          <teaser-date :date="eventDate.date" />
        </div>
        <div class="event-card__infos">
          <div class="event-card__title">
            <nuxt-link :to="'/events/' + event.id + '/' + id">
              <Typography :color="'grey darken-4'" size="h4">{{ title }}</Typography>
            </nuxt-link>
          </div>
          <div class="event-card__categories">
            <Typography size="body-2">
              <event-categories :categories="event.categories" />
            </Typography>
          </div>
          <div class="event-card__hour">
            <v-icon left small>mdi-clock-outline</v-icon>{{ this.$moment(eventDate.date).format('HH:mm') }}
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      NO EVENT
    </div>
  </v-card>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import { EventItemInterface } from '@shared/interfaces'
import EventCategories from '@/components/events/teaser/EventCategories.vue'
import MjImage from '@/components/core/Image.vue'
import DatesFormatter from '@/components/formaters/DatesFormatter.vue'
import TeaserDate from '@/components/events/teaser/TeaserDate.vue'
@Component({
  components: { EventCategories, MjImage, DatesFormatter, TeaserDate }
})
export default class EventCard extends Vue {
  @Prop({ required: true })
  eventDate: any

  hovered: boolean = false
  event: EventItemInterface = this.eventDate.event

  title: string = this.eventDate.event.title
  id: number = this.eventDate.id
}
</script>
<style lang="scss">
.event-card {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: all 0.1s !important;
  transform: translate(0);
  &--hovered {
    transform: translate(0, -2px);
  }
  &__image {
    img {
      width: 100%;
      height: auto;
    }
  }
  &__content {
    padding: 20px;
    display: flex;
    align-items: flex-start;
  }
  &__title > a {
    text-decoration: none;
    margin-bottom: 10px;
    &::after {
      content: $pseudo-content;
      @include pos(absolute, 0, 0, 0, 0);
    }
  }
  &__categories {
    position: relative;
  }
  &__date {
    flex-shrink: 0;
    padding-right: 20px;
  }
  &__hour {
    display: flex;
    align-items: center;
    color: $mid-grey;
    font-size: 14px;
    margin-top: 4px;
  }
}
</style>
