<template>
  <div class="teaser-date" :class="{ 'teaser-date--alt': year }">
    <div class="teaser-date__month">
      {{ this.$moment(date).format('MMM') }}
    </div>
    <div class="teaser-date__day">
      {{ this.$moment(date).format('DD') }}
    </div>
    <div v-if="year" class="teaser-date__year">
      {{ this.$moment(date).format('YYYY') }}
    </div>
    <div class="teaser-date__hour" v-if="hour">
      {{ this.$moment(date).format('HH:mm') }}
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
@Component({})
export default class TeaserDate extends Vue {
  @Prop({ required: true })
  date!: string

  @Prop({ default: true })
  year!: boolean

  @Prop({ default: false })
  hour!: boolean
}
</script>
<style lang="scss">
.teaser-date {
  text-align: center;

  &__month {
    font-weight: 400;
    color: $primary;
    line-height: 1.2;
  }
  &__day {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.1;
  }
  &__hour,
  &__year {
    font-weight: 300;
  }
}
</style>
